﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Admin/Shared/AdminLayout.cshtml";
    ViewBag.currentMenu = "index";

    ViewBag.titlePage = $"Welcome, {(Session["sesiAkun"] as Panda_Mandiri.Models.Extended.modelAkun).email}";
    ViewBag.breadcrumb = helper.generateBreadcrumb(
        new[] { "Home", Url.Action("Index", "Admin") }
    );
}

<div class="container">
    @* <hr/>
    <button class="btn btn-primary" id="menu-toggle" type="button" style="margin-top: 1rem;"><i
        class="fa fa-bars"></i></button>
    <h1>Welcome, @((Session["sesiAkun"] as Panda_Mandiri.Models.Extended.modelAkun).email)</h1> *@
    <h3>Menus</h3>
    <div style="margin-bottom: 1rem;"></div>
    <div>
        <div class="card" style="margin-bottom: 10px;">
            <div class="card-body">
                <div class="row align-items-center position-relative">
                    <div class="col">
                        <h4>Parent List</h4>
                        <p>List of all registered parents</p>
                    </div>
                    <div class="col-auto text-muted position-static">
                        <a class="stretched-link text-muted" href="@Url.Action("parentList", "Admin")">
                            <i class="material-icons" style="font-size: 8vh;">keyboard_arrow_right</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="margin-bottom: 10px;">
            <div class="card-body">
                <div class="row align-items-center position-relative">
                    <div class="col">
                        <h4>Student List</h4>
                        <p>List of student who are registered</p>
                    </div>
                    <div class="col-auto text-muted position-static">
                        <a class="stretched-link text-muted" href="@Url.Action("studentList", "Admin")">
                            <i class="material-icons" style="font-size: 8vh;">keyboard_arrow_right</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="margin-bottom: 10px;">
            <div class="card-body">
                <div class="row align-items-center position-relative">
                    <div class="col">
                        <h4>Pending payments</h4>
                        <p>List of payments waiting to be verified</p>
                    </div>
                    <div class="col-auto text-muted position-static">
                        <a class="stretched-link text-muted" href="@Url.Action("pendingPayments", "Admin")">
                            <i class="material-icons" style="font-size: 8vh;">keyboard_arrow_right</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="margin-bottom: 10px;">
            <div class="card-body">
                <div class="row align-items-center position-relative">
                    <div class="col">
                        <h4>Completed payments</h4>
                        <p>List of verified payments</p>
                    </div>
                    <div class="col-auto text-muted position-static">
                        <a class="stretched-link text-muted" href="@Url.Action("completedPayments", "Admin")">
                            <i class="material-icons" style="font-size: 8vh;">keyboard_arrow_right</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="margin-bottom: 10px;">
            <div class="card-body">
                <div class="row align-items-center position-relative">
                    <div class="col">
                        <h4>Website Log</h4>
                        <p>Show logs of this website for auditing</p>
                    </div>
                    <div class="col-auto text-muted position-static">
                        <a class="stretched-link text-muted" href="@Url.Action("log", "Admin")">
                            <i class="material-icons" style="font-size: 8vh;">keyboard_arrow_right</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>