﻿﻿
@{ ViewBag.Title = "Log View";
                Layout = "~/Views/Admin/Shared/AdminLayout.cshtml";
                ViewBag.currentMenu = "logview";

                ViewBag.breadcrumb = helper.generateBreadcrumb(
                    new[] { "Home", Url.Action("Index", "Admin") },
                    new[] { "Log View" }
                ); }

<script>

</script>
<div class="container">
    @using (Html.BeginForm("log", "admin", FormMethod.Get, new { @id = "logParameterForm" }))
    {
    <div class="form-row" style="margin-bottom: 10px;">
        <div class="col-sm-auto">
            <div class="form-group">
                <label>Severity</label>
                <div class="btn-group btn-group-toggle  d-block" data-toggle="buttons">
                    <label class="btn btn-secondary"><input data-name="severity" data-severity="0" type="checkbox">Info</label><label class="btn btn-warning"><input data-name="severity" data-severity="1" type="checkbox">Warning</label><label class="btn btn-danger"><input data-name="severity" data-severity="2" type="checkbox">Danger</label>
                </div>
            </div>
        </div>
        @Html.Hidden("_severityFilter", "012")
        <div class="col-sm-3 col-md-3 col-lg-2 col-xl-2">
            <div class="form-group">
                <label>Account ID</label>
                @Html.TextBox("_accountID", "", new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-7 col-md-7 col-lg-5 col-xl-4">
            <div class="form-group">
                <label>Time Range</label>
                <div class="input-group">
                    @Html.TextBox("_timeAfter", "", new { @class = "form-control datepicker" })
                    <div class="input-group-prepend input-group-append">
                        <span class="input-group-text">-</span>
                    </div>
                    @Html.TextBox("_timeBefore", "", new { @class = "form-control datepicker" })
                </div>
            </div>
        </div>
        @Html.Hidden("_isDownload", "false")
        @Html.Hidden("rowAmount", "10")
        @Html.Hidden("offset", "0")
        <div class="col-sm-auto">
            <div class="form-group">
                <label><br></label>
                <div class="d-flex">
                    <button class="btn btn-primary" id="submitBtn" type="button">Search</button>
                    <button class="btn btn-secondary ml-2" id="downloadBtn" type="button">Download Last 100 Line</button>
                </div>
            </div>
        </div>
    </div>
    }
    <div class="table-responsive">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Time</th>
                    <th class="text-center">Account ID</th>
                    <th>Email</th>
                    <th class="text-center">Severity</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Panda_Mandiri.Models.LogView item in ViewBag.logData)
                {
                    <tr>
                        <td>@item.id</td>
                        <td>@(item.time?.ToString("dd/MM/yyyy hh:mm:ss"))</td>
                        <td class="text-center">@item.acccountID</td>
                        <td>@item.email</td>
                        <td class="text-center"><span class="badge badge-@(helper.getSeverity(item.severity ?? -1).ToLower())">@(helper.getSeverity(item.severity ?? -1))</span></td>
                        <td>@item.message</td>
                        <td>
                            <button 
                                class="btn btn-primary btn-sm" 
                                onclick="showLogDetailsModal(
                                    'Log Details',
                                    getLogDetailModalBody(
                                        '@item.id', '@item.acccountID', '@item.email', '@(helper.getSeverity(item.severity ?? -1))', '@(item.time?.ToString("dd/MM/yyyy hh:mm:ss"))', '@item.message', `@item.detailedMessage`
                                    ));">Details</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="form-row">
            <div class="col-auto ml-auto">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @ViewBag.currentRowAmount
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @{
                            foreach (var rowAmountNumber in new int[] { 10, 20, 50, 100 })
                            {
                                <button class="dropdown-item" onclick="setRowAmount(@rowAmountNumber); $('#logParameterForm').submit()">@rowAmountNumber</button>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <nav>
                    <ul class="pagination">
                        @if (ViewBag.currentOffset != 0)
                        {
                            <li class="page-item">
                                <button class="page-link btn btn-link" onclick="setOffset(0); $('#logParameterForm').submit();" aria-label="Next">
                                    <span aria-hidden="true">
                                        <i class="fa fa-angle-double-left"></i>
                                        First
                                    </span>
                                </button>
                            </li>
                        }
                        @if (ViewBag.currentOffset - ViewBag.currentRowAmount >= 0)
                        {
                            <li class="page-item">
                                <button class="page-link btn btn-link" onclick="setOffset(@(ViewBag.currentOffset - ViewBag.currentRowAmount)); $('#logParameterForm').submit();" aria-label="Next">
                                    <span aria-hidden="true">
                                        <i class="fa fa-angle-left"></i> Previous
                                    </span>
                                </button>
                            </li>
                        }
                        @{
                            var rowAmount = ViewBag.currentRowAmount;
                            var offset = ViewBag.currentOffset;
                            var recordAmount = ViewBag.recordCount;

                            var pageCount = (recordAmount / rowAmount) + 1;
                            var currentPage = (offset / rowAmount) + 1;

                            List<int> pages = new List<int>();

                            if (pageCount <= 5)
                            {
                                for (int i = 0; i < pageCount; i++)
                                {
                                    pages.Add(i + 1);
                                }
                            }
                            else if (currentPage < 3)
                            {
                                for (int i = 0; i < 5; i++)
                                {
                                    pages.Add(i + 1);
                                }
                            }
                            else if (currentPage > (pageCount - 3))
                            {
                                for (int i = pageCount - 5; i < pageCount; i++)
                                {
                                    pages.Add(i + 1);
                                }
                            }
                            else
                            {
                                for (int i = currentPage - 2; i < currentPage + 3; i++)
                                {
                                    pages.Add(i);
                                }
                            }

                            foreach (var page in pages)
                            {
                                if (page == currentPage)
                                {
                                    <li class="page-item active">
                                        <span class="page-link">
                                            @page
                                            <span class="sr-only">(current)</span>
                                        </span>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <button class="page-link btn btn-link" onclick="setOffset(@((page - 1) * ViewBag.currentRowAmount)); $('#logParameterForm').submit();" aria-label="Next">
                                            @page
                                        </button>
                                    </li>
                                }
                            }
                        }
                        @if (ViewBag.currentOffset + ViewBag.currentRowAmount < ViewBag.recordCount)
                        {
                            <li class="page-item">
                                <button class="page-link btn btn-link" onclick="setOffset(@(ViewBag.currentOffset + ViewBag.currentRowAmount)); $('#logParameterForm').submit();" aria-label="Next">
                                    <span aria-hidden="true">
                                        Next
                                        <i class="fa fa-angle-right"></i>
                                    </span>
                                </button>
                            </li>
                        }
                        @if (ViewBag.currentOffset != (pageCount - 1) * ViewBag.currentRowAmount)
                        {
                            <li class="page-item">
                                <button class="page-link btn btn-link" onclick="setOffset(@(ViewBag.currentRowAmount * (pageCount - 1))); $('#logParameterForm').submit();" aria-label="Next">
                                    <span aria-hidden="true">
                                        Last
                                        <i class="fa fa-angle-double-right"></i>
                                    </span>
                                </button>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
</div>

@*============================== Script ==============================*@
<script>
    function showLogDetailsModal(title, messageHTML) {
        bootbox.alert({
            size: "large",
            title: title,
            message: messageHTML,
            onEscape: true,
        })
    }

    function getLogDetailModalBody(id, accountID, accountEmail, severity, time, message, detailedmessage) {
        return `<form>
            <div class="form-row">
                <div class="col-sm-3 col-md-3 col-lg-2">
                    <div class="form-group"><label class="d-block">Log ID</label><span>${id}</span></div>
                </div>
                <div class="col-sm-5 col-md-5 col-lg-4">
                    <div class="form-group"><label class="d-block">Account Details</label><span class="d-block">${accountID}</span><span class="d-block"><small>${accountEmail}</small></span></div>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-2">
                    <div class="form-group"><label class="d-block">Severity</label><span class="badge badge-${severity.toString().toLowerCase()}">${severity}</span></div>
                </div>
                <div class="col-auto">
                    <div class="form-group"><label class="d-block">Date and Time of Log</label><span>${time}</span></div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group"><label class="d-block">Log Message</label><pre><code>${message}</code></pre></div>
                </div>
            </div>
            <div class="form-row">
                <div class="col">
                    <div class="form-group"><label class="d-block">Detailed Log Message</label><pre><code>${detailedmessage}</code></pre></div>
                </div>
            </div>
        </form>`
    }

    function setOffset(offset) {
        $("input[name='offset']").val(offset);
    }

    function setRowAmount(rowAmount) {
        $("input[name='rowAmount']").val(rowAmount);
    }

    $(document).ready(function () {
        $(".datepicker").datepicker({
            format: "dd/mm/yyyy",
            clearBtn: true
        });

        $("#downloadBtn").click(function () {
            $("input[name='_isDownload']").val("true");
            $('#logParameterForm').submit();
        });

        $("#submitBtn").click(function () {
            $("input[name='_isDownload']").val("false");
            $('#logParameterForm').submit();
        });

        let checkedSeverity = $("input[name='_severityFilter']").val().split('');
        $("input[data-name='severity']").each(function () {
            $(this).prop("checked", checkedSeverity.includes($(this).data("severity").toString()))
        })

        $('#logParameterForm')
            .submit(function () {
                let severityFilter = "";
                $("input[data-name='severity']:checked")
                    .each(function () {
                        severityFilter += $(this).data("severity");
                    })
                $("input[name='_severityFilter']").val(severityFilter);
            })
            .validate({
                rules: {
                    _accountID: {
                        number: true,
                    },
                    _timeAfter: {
                        dateITA: true,
                    },
                    _timeBefore: {
                        dateITA: true,
                    }
                },

                highlight: function (element) {
                    jQuery(element).closest('.form-control').removeClass('is-valid');
                    jQuery(element).closest('.form-control').addClass('is-invalid');
                },
                unhighlight: function (element) {
                    jQuery(element).closest('.form-control').removeClass('is-invalid');
                    jQuery(element).closest('.form-control').addClass('is-valid');
                },
                errorElement: 'span',
                errorClass: 'label label-danger',
                errorPlacement: function (error, element) {
                    $('[id$=serverside]').remove();
                    error.addClass('invalid-feedback');
                    if (element.closest('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                },
                invalidHandler: function (event, validator) {
                    $(this).find('button[type=submit]')
                        .prop('disabled', false)
                        .html(`Submit`);
                }
            });
    });
</script>
