﻿@model Panda_Mandiri.Models.tbl_news
@{
    ViewBag.Title = "Add New News";
    Layout = "~/Views/Admin/Shared/AdminLayout.cshtml";
    ViewBag.currentMenu = "newnews";

    ViewBag.breadcrumb = helper.generateBreadcrumb(
        new[] { "Home", Url.Action("Index", "Admin") },
        new[] { "News" }
    );
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.css" integrity="sha512-pDpLmYKym2pnF0DNYDKxRnOk1wkM9fISpSOjt8kWFKQeDmBTjSnBZhTd41tXwh8+bRMoSaFsRnznZUiH9i3pxA==" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.js" integrity="sha512-+cXPhsJzyjNGFm5zE+KPEX4Vr/1AbqCUuzAS8Cy5AfLEWm9+UI9OySleqLiSQOQ5Oa2UrzaeAOijhvV/M4apyQ==" crossorigin="anonymous"></script>
<div class="container">
    @using (Html.BeginForm("news", "Admin", FormMethod.Post, new { @id = "newsForm" }))
    {
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label>Subject</label>
                    @Html.TextBoxFor(x => x.subject, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label>Message</label>
                    @Html.TextAreaFor(x => x.message)
                </div>
            </div>
        </div>
        <div class="form-row justify-content-end">
            <div id="notFilledMessage" class="col-auto d-none">
                <p class="text-danger">
                    You need to fill all the field above
                </p>
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    }
</div>

@*=============================================== Script ===============================================*@

<script>
    $(document).ready(function () {
        function htmlEncode(value){
            // Create a in-memory element, set its inner text (which is automatically encoded)
            // Then grab the encoded contents back out. The element never exists on the DOM.
            return $('<textarea/>').text(value).html();
        }

        function htmlDecode(input) {
            var doc = new DOMParser().parseFromString(input, "text/html");
            return doc.documentElement.textContent;
        }

        $('#@Html.NameFor(i => i.message)').summernote({
            placeholder: 'Insert your messages here!',
            tabsize: 2,
            height: 500
        })

        $("#newsForm").submit(function (e) {
            if ($('#@Html.NameFor(i => i.message)').summernote('isEmpty')) {
                $("#notFilledMessage").removeClass("d-none");
                return false;
            }
            else {
                $("#notFilledMessage").addClass("d-none");
                $('#@Html.NameFor(i => i.message)').text($('#@Html.NameFor(i => i.message)').summernote('code'));
                $(this).find('button[type=submit]')
                    .prop('disabled', true)
                    .html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`);
            }
        }).validate({
            rules: {
                @Html.NameFor(i => i.subject): {
                    required: true,
                },
            },
            highlight: function(element) {
                jQuery(element).closest('.form-control').removeClass('is-valid');
                jQuery(element).closest('.form-control').addClass('is-invalid');
            },
            unhighlight: function(element) {
                jQuery(element).closest('.form-control').removeClass('is-invalid');
                jQuery(element).closest('.form-control').addClass('is-valid');
            },
            errorElement: 'span',
            errorClass: 'label label-danger',
            errorPlacement: function(error, element) {
                $("[id$=serverside]").remove();
                error.addClass('invalid-feedback');
                error.show().insertBefore(element);
            },
            invalidHandler: function (event, validator){
                $(this).find('button[type=submit]')
                    .prop('disabled', false)
                    .html(`Submit`);
            }
        })
    })
</script>