@model Panda_Mandiri.Models.tbl_news
@{
    ViewBag.Title = "News List";
    Layout = "~/Views/Admin/Shared/AdminLayout.cshtml";
    ViewBag.currentMenu = "news";
    ViewBag.breadcrumb = helper.generateBreadcrumb(
        new[] { "Home", Url.Action("Index", "Admin") },
        new[] { "News List" }
    ); 
}

<div class="container">
    <div style="margin-bottom: 1rem;"></div>
    <form>
        <div class="form-row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Date Time</th>
                                <th>Subject</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Panda_Mandiri.Models.tbl_news item in ViewBag.newsList)
                            {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.timePublished.ToString("dd/MM/yyyy hh:mm:dd")</td>
                                <td>@item.subject</td>
                                <td><a href="@Url.Action("newsDetails", "Admin", new { @id = item.Id })" class="btn btn-primary">Details</a></td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-auto ml-auto">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @ViewBag.currentRowAmount
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="@Url.Action("newsList", "Admin", new { @offset = 0, rowAmount = 5 })">5</a>
                        <a class="dropdown-item" href="@Url.Action("newsList", "Admin", new { @offset = 0, rowAmount = 10 })">10</a>
                        <a class="dropdown-item" href="@Url.Action("newsList", "Admin", new { @offset = 0, rowAmount = 15 })">15</a>
                        <a class="dropdown-item" href="@Url.Action("newsList", "Admin", new { @offset = 0, rowAmount = 20 })">20</a>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <nav>
                    <ul class="pagination">
                        @if (ViewBag.currentOffset != 0)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("newsList", "Admin", new { @offset = 0, rowAmount = ViewBag.currentRowAmount })" aria-label="First">
                                    <span aria-hidden="true">
                                        <i class="fa fa-angle-double-left"></i>
                                        First
                                    </span>
                                </a>
                            </li>
                        }
                        @if (ViewBag.currentOffset - ViewBag.currentRowAmount >= 0)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("newsList", "Admin", new { @offset = ViewBag.currentOffset - ViewBag.currentRowAmount, rowAmount = ViewBag.currentRowAmount })" aria-label="Previous">
                                    <span aria-hidden="true">
                                        <i class="fa fa-angle-left"></i> Previous
                                    </span>
                                </a>
                            </li>
                        }
                        @{
                            var rowAmount = ViewBag.currentRowAmount;
                            var offset = ViewBag.currentOffset;
                            var recordAmount = ViewBag.newsListCount;

                            var pageCount = (recordAmount / rowAmount) + 1;
                            var currentPage = (offset / rowAmount) + 1;

                            List<int> pages = new List<int>();

                            if (pageCount <= 5)
                            {
                                for (int i = 0; i < pageCount; i++)
                                {
                                    pages.Add(i + 1);
                                }
                            }
                            else if (currentPage < 3)
                            {
                                for (int i = 0; i < 5; i++)
                                {
                                    pages.Add(i + 1);
                                }
                            }
                            else if (currentPage > (pageCount - 3))
                            {
                                for (int i = pageCount - 5; i < pageCount; i++)
                                {
                                    pages.Add(i + 1);
                                }
                            }
                            else
                            {
                                for (int i = currentPage - 2; i < currentPage + 3; i++)
                                {
                                    pages.Add(i);
                                }
                            }

                            foreach (var page in pages)
                            {
                                if (page == currentPage)
                                {
                                    <li class="page-item active">
                                        <span class="page-link">
                                            @page
                                            <span class="sr-only">(current)</span>
                                        </span>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="@Url.Action("newsList", "Admin", new { @offset = (page - 1) * ViewBag.currentRowAmount, rowAmount = ViewBag.currentRowAmount })">
                                            @page
                                        </a>
                                    </li>
                                }
                            }
                        }
                        @if (ViewBag.currentOffset + ViewBag.currentRowAmount < ViewBag.newsListCount)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("newsList", "Admin", new { @offset = ViewBag.currentOffset + ViewBag.currentRowAmount, rowAmount = ViewBag.currentRowAmount })" aria-label="Next">
                                    <span aria-hidden="true">
                                        Next
                                        <i class="fa fa-angle-right"></i>
                                    </span>
                                </a>
                            </li>
                        }
                        @if (ViewBag.currentOffset != (pageCount - 1) * ViewBag.currentRowAmount)
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("newsList", "Admin", new { @offset = ViewBag.currentRowAmount * (pageCount - 1), rowAmount = ViewBag.currentRowAmount })" aria-label="Next">
                                    <span aria-hidden="true">
                                        Last
                                        <i class="fa fa-angle-double-right"></i>
                                    </span>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </form>
</div>