﻿@model Panda_Mandiri.Models.Extended.modelWali
@{
    ViewBag.Title = "Parent Details";
    Layout = "~/Views/Admin/Shared/AdminLayout.cshtml";
    ViewBag.currentMenu = "parentlist";

    var parentDetails = (Panda_Mandiri.Models.tbl_wali)ViewBag.parentDetails;
    var parentDocumentDetails = (Panda_Mandiri.Models.tbl_dokumen_wali)ViewBag.parentDocumentDetails;
    ViewBag.breadcrumb = helper.generateBreadcrumb(
        new[] { "Home", Url.Action("Index", "Admin") },
        new[] { "Parent List", Url.Action("parentList", "Admin") },
        new[] { "Parent Details", Url.Action("parentDetails", "Admin") }
    );
}

<div class="container">
    <div style="margin-bottom: 1rem;"></div>
    <form style="height: auto;max-width: 850px;margin-left:7px;">
        <div class="form-row">
            <H2>Childs</H2>
        </div>
        <div>
            @foreach (Panda_Mandiri.Models.tbl_siswa child in ViewBag.childList)
            {
                <div class="card" style="margin-bottom: 10px;">
                    <div class="card-body" style="padding: 10px 20px;">
                        <div class="row align-items-center position-relative">
                            <div class="col">
                                <h4 style="margin: 0px;">@child.Nama_Lengkap</h4>
                                <p style="margin: 0px;">NIK: @child.NIK</p>
                            </div>
                            <div class="col-auto text-muted position-static">
                                <a class="stretched-link text-muted" href="@Url.Action("studentDetails", "Admin", new { @id = child.id })">
                                    <i class="material-icons" style="font-size: 6vh;">keyboard_arrow_right</i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="my-4" />

        <div class="form-row">
            <H2>Father's Data Form</H2>
        </div>
        <div class="form-row">
            <div class="col-lg-8">
                <div class="form-group">
                    @Html.LabelFor(i => i.namaAyah)
                    @Html.TextBoxFor(i => i.namaAyah, new
                    {
                        @class = "form-control",
                        @Value = parentDetails.nama_ayah,
                        @readonly = "readonly"
                    })
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(i => i.panggilanAyah)
                    @Html.TextBoxFor(i => i.panggilanAyah, new
                    {
                        @class = "form-control",
                        @Value =
                        parentDetails.panggilan_ayah,
                        @readonly = "readonly"
                    })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    @Html.LabelFor(i => i.NIKAyah)
                    @Html.TextBoxFor(i => i.NIKAyah, new
                    {
                        @class = "form-control",
                        @Value = parentDetails.NIK_ayah,
                        @readonly = "readonly"
                    })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-8">
                <div class="form-group">
                    @Html.LabelFor(i => i.tempatLahirAyah)
                    @Html.TextBoxFor(i => i.tempatLahirAyah, new
                    {
                        @class = "form-control",
                        @Value =
                        parentDetails.tempatlahir_ayah,
                        @readonly = "readonly"
                    })
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(i => i.tanggalLahirAyah)
                    @Html.TextBoxFor(i => i.tanggalLahirAyah, new
                    {
                        @class = "form-control",
                        @Value =
                        parentDetails.tanggallahir_ayah?.formatDDMMYYYY(),
                        @readonly = "readonly"
                    })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.pendidikanAyah)
                    @Html.TextBoxFor(i => i.pendidikanAyah, new
                    {
                        @class = "form-control",
                        @Value =
                        parentDetails.pendidikan_ayah,
                        @readonly = "readonly"
                    })
                </div>
            </div>
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.pekerjaanAyah)
                    @Html.TextBoxFor(i => i.pekerjaanAyah, new
                    {
                        @class = "form-control",
                        @Value =
                        parentDetails.pekerjaan_ayah,
                        @readonly = "readonly"
                    })
                </div>
            </div>
        </div>

        <div class="my-4" />

        <div class="form-row">
            <H2>Mother's Data Form</H2>
        </div>
        <div class="form-row">
            <div class="col-lg-8">
                <div class="form-group">
                    @Html.LabelFor(i => i.namaIbu)
                    @Html.TextBoxFor(i => i.namaIbu, new
                    {
                        @class = "form-control",
                        @Value = parentDetails.nama_ibu,
                        @readonly = "readonly"
                    })
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(i => i.panggilanIbu)
                    @Html.TextBoxFor(i => i.panggilanIbu, new
                    {
                        @class = "form-control",
                        @Value =
                        parentDetails.panggilan_ibu,
                        @readonly = "readonly"
                    })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    @Html.LabelFor(i => i.NIKIbu)
                    @Html.TextBoxFor(i => i.NIKIbu, new
                    {
                        @class = "form-control",
                        @Value = parentDetails.NIK_ibu,
                        @readonly
                        = "readonly"
                    })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-8">
                <div class="form-group">
                    @Html.LabelFor(i => i.tempatLahirIbu)
                    @Html.TextBoxFor(i => i.tempatLahirIbu, new
                    {
                        @class = "form-control",
                        @Value =
                        parentDetails.tempatlahir_ibu,
                        @readonly = "readonly"
                    })
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(i => i.tanggalLahirIbu)
                    @Html.TextBoxFor(i => i.tanggalLahirIbu, new
                    {
                        @class = "form-control",
                        @Value =
                        parentDetails.tanggallahir_ibu?.formatDDMMYYYY(),
                        @readonly = "readonly"
                    })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.pendidikanIbu)
                    @Html.TextBoxFor(i => i.pendidikanIbu, new
                    {
                        @class = "form-control",
                        @Value =
                        parentDetails.pendidikan_ibu,
                        @readonly = "readonly"
                    })
                </div>
            </div>
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.pekerjaanIbu)
                    @Html.TextBoxFor(i => i.pekerjaanIbu, new
                    {
                        @class = "form-control",
                        @Value =
                        parentDetails.pekerjaan_ibu,
                        @readonly = "readonly"
                    })
                </div>
            </div>
        </div>

        <div class="my-4" />

        <div class="form-row">
            <H2>Other Data</H2>
        </div>
        <div class="form-row">
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.noKTP)
                    @Html.TextBoxFor(i => i.noKTP, new
                    {
                        @class = "form-control",
                        @Value = parentDetails.No_KTP,
                        @readonly =
                        "readonly"
                    })
                </div>
            </div>
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.noHP)
                    @Html.TextBoxFor(i => i.noHP, new
                    {
                        @class = "form-control",
                        @Value = parentDetails.No_HP,
                        @readonly =
                        "readonly"
                    })
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.alamat)
                    @Html.TextAreaFor(i => i.alamat, new
                    {
                        @class = "form-control",
                        @Value = parentDetails.Alamat,
                        @readonly
                        = "readonly"
                    })
                </div>
            </div>
        </div>

        <div class="my-4" />

        <div class="form-row">
            <H2>Attachments</H2>
        </div>

        <div class="form-row">
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.ktp)
                    <br />
                    @{
                        var ktpImgLink =
                            $"{Panda_Mandiri.Controllers.helper.getRoot()}/api/image/ktp/{parentDocumentDetails.ktp}";
                        <a href="@ktpImgLink" target="_blank" rel="noopener noreferrer">
                            <img src="@ktpImgLink" alt="@ktpImgLink" style="max-width: 450px; max-height: 300px">
                        </a>
                    }
                </div>
            </div>
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.kartuKeluarga)
                    <br />
                    @{
                        var kkImgLink =
                            $"{Panda_Mandiri.Controllers.helper.getRoot()}/api/image/kartukeluarga/{parentDocumentDetails.kartukeluarga}";
                        <a href="@kkImgLink" target="_blank" rel="noopener noreferrer">
                            <img src="@kkImgLink" alt="@kkImgLink" style="max-width: 450px; max-height: 300px">
                        </a>
                    }
                    @* <input type="file" class="form-control-file" accept="image/jpg,image/jpeg,image/png,image/gif" id="@Html.NameFor(i => i.kartuKeluarga)"
                        name="@Html.NameFor(i => i.kartuKeluarga)" value="@parentDocumentDetails.kartukeluarga"> *@
                </div>
            </div>
        </div>
    </form>
</div>