﻿@model Panda_Mandiri.Models.tbl_pembayaran
@{
    ViewBag.Title = "Payment Details";
    Layout = "~/Views/Admin/Shared/AdminLayout.cshtml";

    ViewBag.breadcrumb = helper.generateBreadcrumb(
        new[] { "Home", Url.Action("Index", "Admin") },
        ViewBag.refferer == "pendingPayments"
            ? new[] { "Pending Payments", Url.Action("pendingPayments", "Admin") }
            : ViewBag.refferer == "completedPayments"
                ? new[] { "Completed Payments", Url.Action("completedPayments", "Admin") }
                : null,
        new[] { "Payment Details" }
    );

    var paymentDetails = (Panda_Mandiri.Models.tbl_pembayaran)ViewBag.paymentDetails;
    var studentDetails = (Panda_Mandiri.Models.tbl_siswa)ViewBag.studentDetails;
    var parentDetails = (Panda_Mandiri.Models.tbl_wali)ViewBag.parentDetails;

    ViewBag.Subtitle = $"Payment ID {paymentDetails.id}";
}

@if (paymentDetails.status == null)
{
    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModal"
    aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modaltitle">Confirm something</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalbody">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning" id="confirmModalButton">Yes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
}

<div class="container mb-2">
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td>Payment ID</td>
                    <td>@(paymentDetails.id)</td>
                </tr>
                <tr>
                    <td>Payment Date</td>
                    <td>@(paymentDetails.tanggalPembayaran?.formatDDMMYYYY())</td>
                </tr>
                <tr>
                    <td>Student ID</td>
                    <td><a
                        href="@Url.Action("studentDetails", "admin", new { @id = studentDetails.id })">@(studentDetails.id)</a>
                    </td>
                </tr>
                <tr>
                    <td>Student Name</td>
                    <td>@(studentDetails.Nama_Lengkap)</td>
                </tr>
                <tr>
                    <td>Parent ID</td>
                    <td><a
                        href="@Url.Action("parentDetails", "admin", new { @id = parentDetails.id })">@(parentDetails.id)</a>
                    </td>
                </tr>
                <tr>
                    <td>Parent Father Name</td>
                    <td>@(parentDetails.nama_ayah)</td>
                </tr>
                <tr>
                    <td>Parent Mother Name</td>
                    <td>@(parentDetails.nama_ibu)</td>
                </tr>
                <tr>
                    <td>Periode</td>
                    <td>@(paymentDetails.periodeSPP)</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>@(paymentDetails.deskripsi)</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>
                        @switch (paymentDetails.status)
                        {
                            case null:
                                <span> Not Reviewed Yet</span>
                                break;
                            case true:
                                <span>Success</span>
                                break;
                            case false:
                                <span>Failed</span>
                                break;
                            default:
                                break;
                        }
                    </td>
                </tr>
                @if (paymentDetails.status.HasValue)
                {
                    if (paymentDetails.status.Value == false)
                    {
                        <tr>
                            <td>Reject Reason</td>
                            <td>@(paymentDetails.alasanPenolakan)</td>
                        </tr>
                    }
                }
                <tr>
                    <td>Payment Proof</td>
                    <td>
                        @{
                            var imgLink =
                                $"{Panda_Mandiri.Controllers.helper.getRoot()}/api/image/buktipembayaran/{paymentDetails.buktiPembayaran}";
                            <a href="@imgLink" target="_blank" rel="noopener noreferrer">
                                <img src="@imgLink" alt="@imgLink" style="max-width: 450px; max-height: 300px">
                            </a>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    @if (paymentDetails.status == null)
    {
        <div class="row">
            <div class="col-auto ml-auto">
                <button type="button" class="btn btn-success togglemodal" data-action="accept">Accept</button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-danger togglemodal" data-action="reject">Reject</button>
            </div>
        </div>
    }
</div>

@* ========================================= script ========================================== *@

<script>
    function capitalizeFirstLetter(string) {
        return string.charAt(0).toUpperCase() + string.slice(1);
    }
$(document).ready(function() {
	console.log('idk');
	$('.togglemodal').click(function(element) {
		let action = $(this).data('action');

		let form = $(`
            <form action="@Url.Action("paymentDetails", "Admin", new { @id = (ViewBag.paymentDetails as Panda_Mandiri.Models.tbl_pembayaran).id })" id="reasonform" method="post">
            <div class="form-row">
            <div class="col"><span>Are you sure you want to do this action? <strong>This action is difficult to undo!</strong></span></div>
            </div>
            <div class="form-row">
            <div class="col"><input id="action" name="action" type="hidden" value="${action}"></div>
            </div>
            ${action == 'reject'
                ?   `<div class="form-row">
                    <div class="col"><label for="reason">Reject Reason</label><input class="form-control" name="reason" id="reason" type="text"></div>
                    </div>`
                :   ''}
            </form>`);

            form
            .validate({
                rules: {
                    reason: {
                        required: true,
                    }
                },
                highlight: function(element) {
                    jQuery(element).closest('.form-control').removeClass('is-valid');
                    jQuery(element).closest('.form-control').addClass('is-invalid');
                },
                unhighlight: function(element) {
                    jQuery(element).closest('.form-control').removeClass('is-invalid');
                    jQuery(element).closest('.form-control').addClass('is-valid');
                },
                errorElement: 'span',
                errorClass: 'label label-danger',
                errorPlacement: function(error, element) {
                    $('[id$=serverside]').remove();
                    error.addClass('invalid-feedback');
                    error.insertAfter(element);
                },
                invalidHandler: function (event, validator){
                    $('#confirmModalButton')
                        .prop('disabled', false)
                        .html(`Yes`);
                }
            });

            $('#modaltitle').text(`${capitalizeFirstLetter(action)} Confirmation`);
            $('#modalbody').html(form);

            $('#confirmModalButton').click(function() {
                console.log('idk');
                $(this).prop('disabled', true)
                    .html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`);
                $('#reasonform').submit();
            });

            $('#confirmationModal').modal('show');
        });
    });
</script>