﻿﻿@using ReportViewerForMvc
@{
    ViewBag.Title = "Parent Data Report";
    Layout = "~/Views/Admin/Shared/AdminLayout.cshtml";
    ViewBag.currentMenu = "parentreport";

    ViewBag.breadcrumb = helper.generateBreadcrumb(
        new[] { "Home", Url.Action("Index", "Admin") },
        new[] { "Parent Data Report", Url.Action("reportDataWali", "Admin") }
    );
}

<div class="container">
    @Html.Partial("MobileWarning")
    <div class="embed-responsive embed-responsive-16by9">
        @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { @class = "embed-responsive-item" })
    </div>
</div>

