﻿@model IEnumerable<Panda_Mandiri.Models.tbl_siswa>

@{
    ViewBag.Title = "ViewDataSiswa";
    Layout = "~/Views/Admin/Shared/AdminLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nama_Lengkap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jenis_kelamin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_kelas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NIK)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_wali.nama_ayah)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nama_Lengkap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jenis_kelamin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_kelas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NIK)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_wali.nama_ayah)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
