﻿@model IEnumerable<Panda_Mandiri.Models.tbl_wali>

@{
    ViewBag.Title = "ViewDataWali";
    Layout = "~/Views/Admin/Shared/AdminLayout.cshtml";
}

<h2>@ViewBag.Title</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nama_ayah)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NIK_ayah)
            <th>
                @Html.DisplayNameFor(model => model.nama_ibu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NIK_ibu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.No_KTP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.No_HP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alamat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tbl_akun.email)
            </th>
            <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nama_ayah)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIK_ayah)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nama_ibu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIK_ibu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.No_KTP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.No_HP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alamat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_akun.email)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }

</table>
