@{
    List<string[]> filteredBreadcrumb = null;
    if (ViewBag.breadcrumb != null)
    {
        filteredBreadcrumb = (ViewBag.breadcrumb as IEnumerable<IEnumerable<string>>)
            .Where(x => x != null) // Filter any null breadcrumb. I did this because it makes things easier if i somehow add double ternary operator with a default null return. Somehow.
            .Select(x => x.ToArray()) // Convert to array. Because IEnumerator can't use index access.
            .ToList(); // Convert to list. Because somehow IEnumerator didn't have Count() as well.
    }
}
<div class="row" style="margin-top: 1rem;">
    @if (filteredBreadcrumb != null)
    {
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent" style="padding-left: 0px; padding-bottom: 0px; margin-bottom: 1rem;">
                    @{
                        for (int i = 0; i < filteredBreadcrumb.Count(); i++)
                        {
                            var pagelink = filteredBreadcrumb[i];
                            if (pagelink == null)
                            {
                                continue;
                            }

                            if (i < filteredBreadcrumb.Count() - 1)
                            {
                                <li class="breadcrumb-item"><a href="@pagelink[1]">@pagelink[0]</a></li>
                            }
                            else
                            {
                                <li class="breadcrumb-item active" aria-current="page">@pagelink[0]</li>
                            }
                        }
                    }
                    @* <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active" aria-current="page">Data</li> *@
                </ol>
            </nav>
        </div>
    }
</div>
<div class="row h-100">
    @if (filteredBreadcrumb != null && filteredBreadcrumb.Count() > 1)
    {
        <div class="col-auto my-auto" style="padding-right: 0px;">
            <a href="@(filteredBreadcrumb[filteredBreadcrumb.Count() - 2][1])">
                <i class="fa fa-arrow-left" style="font-size: 2rem;"></i>
            </a>
        </div>
    }
    <div class="col-auto my-auto">
        <h1 style="margin-bottom: 0px;">@(ViewBag.titlePage ?? ViewBag.Title)</h1>
    </div>

    <div class="col text-muted my-auto" id="subtitleHTML" style="padding: 0px;">
        @if (ViewBag.Subtitle != null)
        {
            <h3 style="margin-bottom: 0px;">@(ViewBag.Subtitle)</h3>
        }
    </div>
</div>
<div style="margin-bottom: 1rem;"></div>