<div class="border rounded border-danger m-5" style="min-width: 200px;max-width: 350px;height: 350px;padding: 25px;">
    <h2 class="text-danger">EMERGENCY INFO</h2>
    <span class="d-block bg-warning p-3">Change this info to your own information.</span> <!-- Also delete this line -->
    <span>In a case of emergency, you can call our staff listed below, or contact these number, listed below</span>
    <ul>
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
    </ul>
</div>