﻿<nav class="navbar navbar-light navbar-expand-md navigation-clean">
    <div class="container">
        <a class="navbar-brand" href="@Url.Action("index", "Home")#"><img src="~/content/img/TK_Islam_Dzakira_Logo.png" style="width: 150px;"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="@Url.Action("index", "Home")#About">About us</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="@Url.Action("index", "Home")#Contact">Find us!</a></li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation" style="margin-right: 1vw;"><a class="btn btn-primary" role="button" href="@Url.Action("Login", "Home")">Login</a></li>
                <li class="nav-item" role="presentation"><a class="btn btn-success" role="button" href="@Url.Action("Register", "Home")">Register</a></li>
            </ul>
        </div>
    </div>
</nav>

