@{
    Layout = null;

    Panda_Mandiri.Models.tbl_siswa studentData = ViewBag.studentData;
    Panda_Mandiri.Models.tbl_wali parentData = ViewBag.parentData;
}

<!DOCTYPE html>
<html style="-webkit-print-color-adjust:exact;">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/2.0.3/grids.min.css" integrity="sha512-U8A0ZXfvRWMPoXaQgtx+9MwLP0pfL5otvT4sOwuL2LnEwkpmd6pClpShtRIAHgRIT/CjJUfAfuKuKQwNcpb2Cw==" crossorigin="anonymous" />
        <link href="https://fonts.googleapis.com/css2?family=Vollkorn:wght@723&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap" rel="stylesheet">
        <style>
            .page {
                width: 21cm;
                height: 29.7cm;
                padding: 10mm 20mm;
                /*border: dashed red;*/
                position: relative;
            }

            .fitimg {
                max-width: 80%;
                max-height: 80%;
            }

            .title {
                font-family: 'Vollkorn', serif;
                font-size: 2rem;
            }

            .subtitle {
                font-family: 'Libre Baskerville', serif;
                font-size: 1rem;
                margin: 0px;
                margin-bottom: 0.25rem;
            }

            .form {
                font-family: 'PT Serif', serif;
                font-size: 0.9rem;
            }

            .semicolon {
                margin-right: 5px;
            }

            .form-row {
                margin: 5px 0px;
            }

            .form-title {
                font-size: 1rem;
                font-weight: bold;
            }

            .photo-dimension {
                border: solid;
                width: 25mm;
                height: 35mm;
                position: absolute;
                right: 40mm;
                top: 60mm;
            }

            .flex-center {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        </style>
    </head>
    <body>
        <div class="page">
            <div>
                <div class="photo-dimension flex-center">
                    <div style="width: 75%; text-align: center;">
                        Photo Size 2 X 3 CM
                    </div>
                </div>
                <div class="pure-g" style="height: 14%;">
                    <div class="pure-u-1-4 flex-center" style="height: 100%;">
                        <img src="~/content/img/TK_Islam_Dzakira_Logo.jpeg" class="fitimg" alt="">
                    </div>
                    <div class="pure-u-3-4">
                        <p class="title" style="margin-bottom: 0px;">TK ISLAM DZAKIRA + DAYCARE</p>
                        <p class="subtitle">YAYASAN DZAKIRA CAHAYA ILMU</p>
                        <p class="subtitle">IZIN : AHU - 0028126.AH.01.12 TAHUN 2016</p>
                        <p class="subtitle">Serpong Garden Blok E24 No.18 Cisauk - Tangerang</p>
                        <div style="
                            background-color: black;
                            height: 3px;
                        "></div>
                        <img src="~/content/img/bottomTitle.png" class="fitimg" style="width: 90mm;">
                    </div>
                </div>

                <div>
                    <div class="pure-g form-row">
                        <div class="pure-u-1-24" style="height: 100%;">
                            <span class="form form-title">A. </span>
                        </div>
                        <div class="pure-u-6-24">
                            <span class="form form-title">CHILD DATA</span>
                        </div>
                        <div class="pure-u-16-24">
                            <span class="form form-title"></span>
                        </div>
                    </div>
                    <div class="pure-g form-row">
                        <div class="pure-u-1-24" style="height: 100%;">
                            <span class="form form-title"></span>
                        </div>
                        <div class="pure-u-6-24">
                            <span class="form">FULL NAME</span>
                        </div>
                        <div class="pure-u-16-24">
                            <span class="form semicolon">:</span>
                            <span class="form">@studentData.Nama_Lengkap</span>
                        </div>
                    </div>
                    <div class="pure-g form-row">
                        <div class="pure-u-1-24" style="height: 100%;">
                            <span class="form form-title"></span>
                        </div>
                        <div class="pure-u-6-24">
                            <span class="form">BIRTH PLACE AND DATE</span>
                        </div>
                        <div class="pure-u-16-24">
                            <span class="form semicolon">:</span>
                            <span class="form">@studentData.BirthPlace, @(studentData.BirtDate?.formatDDMMYYYY())</span>
                        </div>
                    </div>
                    <div class="pure-g form-row">
                        <div class="pure-u-1-24" style="height: 100%;">
                            <span class="form form-title"></span>
                        </div>
                        <div class="pure-u-6-24">
                            <span class="form">NIK</span>
                        </div>
                        <div class="pure-u-16-24">
                            <span class="form semicolon">:</span>
                            <span class="form">@studentData.NIK</span>
                        </div>
                    </div>
                    <div class="pure-g form-row">
                        <div class="pure-u-1-24" style="height: 100%;">
                            <span class="form form-title"></span>
                        </div>
                        <div class="pure-u-6-24">
                            <span class="form">GENDER</span>
                        </div>
                        <div class="pure-u-16-24">
                            <span class="form semicolon">:</span>
                            <span class="form">@studentData.jenis_kelamin</span>
                        </div>
                    </div>
                    <div class="pure-g form-row">
                        <div class="pure-u-1-24" style="height: 100%;">
                            <span class="form form-title"></span>
                        </div>
                        <div class="pure-u-6-24">
                            <span class="form">CHILDREN OF </span>
                        </div>
                        <div class="pure-u-5-24">
                            <span class="form semicolon">:</span>
                            <span class="form">@studentData.Anak_Ke</span>
                        </div>
                        <div class="pure-u-4-24">
                            <span class="form">FROM THE </span>
                        </div>
                        <div class="pure-u-4-24">
                            <span class="form semicolon">:</span>
                            <span class="form">@studentData.Jml_Saudara_Kandung</span>
                        </div>
                        <div class="pure-u-3-24">
                            <span class="form">SIBLINGS</span>
                        </div>
                    </div>
                    <div class="pure-g form-row">
                        <div class="pure-u-1-24" style="height: 100%;">
                            <span class="form form-title"></span>
                        </div>
                        <div class="pure-u-6-24">
                            <span class="form">BLOOD TYPE</span>
                        </div>
                        <div class="pure-u-16-24">
                            <span class="form semicolon">:</span>
                            <span class="form">@studentData.Golongan_Darah</span>
                        </div>
                    </div>
                    <div class="pure-g form-row">
                        <div class="pure-u-1-24" style="height: 100%;">
                            <span class="form form-title"></span>
                        </div>
                        <div class="pure-u-6-24">
                            <span class="form">BIRTH TYPE</span>
                        </div>
                        <div class="pure-u-16-24">
                            <span class="form semicolon">:</span>
                            <span class="form">@studentData.Kelahiran</span>
                        </div>
                    </div>
                    <div class="pure-g form-row">
                        <div class="pure-u-1-24" style="height: 100%;">
                            <span class="form form-title"></span>
                        </div>
                        <div class="pure-u-6-24">
                            <span class="form">BREASTFEEDING FOR </span>
                        </div>
                        <div class="pure-u-16-24">
                            <span class="form semicolon">:</span>
                            <span class="form">@studentData.ASI_Berapa_Lama</span>
                        </div>
                    </div>
                    <div class="pure-g form-row">
                        <div class="pure-u-1-24" style="height: 100%;">
                            <span class="form form-title"></span>
                        </div>
                        <div class="pure-u-6-24">
                            <span class="form">ON FORMULA MILK FOR</span>
                        </div>
                        <div class="pure-u-16-24">
                            <span class="form semicolon">:</span>
                            <span class="form">@studentData.Sufor_Berapa_Lama</span>
                        </div>
                    </div>
                    <div class="pure-g form-row">
                        <div class="pure-u-1-24" style="height: 100%;">
                            <span class="form form-title"></span>
                        </div>
                        <div class="pure-u-6-24">
                            <span class="form">ALLERGY HISTORY</span>
                        </div>
                        <div class="pure-u-16-24">
                            <span class="form semicolon">:</span>
                            <span class="form">@studentData.Riwayat_Alergi</span>
                        </div>
                    </div>
                    <div class="pure-g form-row">
                        <div class="pure-u-1-24" style="height: 100%;">
                            <span class="form form-title"></span>
                        </div>
                        <div class="pure-u-6-24">
                            <span class="form">DISEASE HISTORY</span>
                        </div>
                        <div class="pure-u-16-24">
                            <span class="form semicolon">:</span>
                            <span class="form">@studentData.Riwayat_Penyakit</span>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="pure-g form-row">
                        <div class="pure-u-1-24" style="height: 100%;">
                            <span class="form form-title"><bdo dir=""></bdo>B. </span>
                        </div>
                        <div class="pure-u-6-24">
                            <span class="form form-title">PARENT DATA</span>
                        </div>
                        <div class="pure-u-16-24">
                            <span class="form form-title"></span>
                        </div>
                    </div>
                    <div class="pure-g form-row">
                        <div class="pure-u-1-24" style="height: 100%;">
                            <span class="form form-title"></span>
                        </div>
                        <div class="pure-u-6-24">
                            <span class="form">FATHER FULL NAME</span>
                        </div>
                        <div class="pure-u-8-24">
                            <span class="form semicolon">:</span>
                            <span class="form">@parentData.nama_ayah</span>
                        </div>
                        <div class="pure-u-4-24">
                            <span class="form">CALLED NAME</span>
                        </div>
                        <div class="pure-u-5-24">
                            <span class="form semicolon">:</span>
                            <span class="form">@parentData.panggilan_ayah</span>
                        </div>
                    </div>
                    <div class="pure-g form-row">
                        <div class="pure-u-1-24" style="height: 100%;">
                            <span class="form form-title"></span>
                        </div>
                        <div class="pure-u-6-24">
                            <span class="form">FATHER QUALIFICATION</span>
                        </div>
                        <div class="pure-u-8-24">
                            <span class="form semicolon">:</span>
                            <span class="form">@parentData.pendidikan_ayah</span>
                        </div>
                        <div class="pure-u-4-24">
                            <span class="form">CURRENT JOB</span>
                        </div>
                        <div class="pure-u-5-24">
                            <span class="form semicolon">:</span>
                            <span class="form">@parentData.pekerjaan_ayah</span>
                        </div>
                    </div>
                    <div class="pure-g form-row">
                        <div class="pure-u-1-24" style="height: 100%;">
                            <span class="form form-title"></span>
                        </div>
                        <div class="pure-u-6-24">
                            <span class="form">FATHER NIK</span>
                        </div>
                        <div class="pure-u-8-24">
                            <span class="form semicolon">:</span>
                            <span class="form">@parentData.NIK_ayah</span>
                        </div>
                        <div class="pure-u-2-24">
                            <span class="form">DPOB</span>
                        </div>
                        <div class="pure-u-7-24">
                            <span class="form semicolon">:</span>
                            <span class="form">@parentData.tempatlahir_ayah, @(parentData.tanggallahir_ayah?.formatDDMMYYYY())</span>
                        </div>
                    </div>

                    <div class="pure-g form-row">
                        <div class="pure-u-1-24" style="height: 100%;">
                            <span class="form form-title"></span>
                        </div>
                        <div class="pure-u-6-24">
                            <span class="form">MOTHER FULL NAME</span>
                        </div>
                        <div class="pure-u-8-24">
                            <span class="form semicolon">:</span>
                            <span class="form">@parentData.nama_ibu</span>
                        </div>
                        <div class="pure-u-4-24">
                            <span class="form">CALLED NAME</span>
                        </div>
                        <div class="pure-u-5-24">
                            <span class="form semicolon">:</span>
                            <span class="form">@parentData.panggilan_ibu</span>
                        </div>
                    </div>
                    <div class="pure-g form-row">
                        <div class="pure-u-1-24" style="height: 100%;">
                            <span class="form form-title"></span>
                        </div>
                        <div class="pure-u-6-24">
                            <span class="form">MOTHER QUALIFICATION</span>
                        </div>
                        <div class="pure-u-8-24">
                            <span class="form semicolon">:</span>
                            <span class="form">@parentData.pendidikan_ibu</span>
                        </div>
                        <div class="pure-u-4-24">
                            <span class="form">CURRENT JOB</span>
                        </div>
                        <div class="pure-u-5-24">
                            <span class="form semicolon">:</span>
                            <span class="form">@parentData.pekerjaan_ibu</span>
                        </div>
                    </div>
                    <div class="pure-g form-row">
                        <div class="pure-u-1-24" style="height: 100%;">
                            <span class="form form-title"></span>
                        </div>
                        <div class="pure-u-6-24">
                            <span class="form">MOTHER NIK</span>
                        </div>
                        <div class="pure-u-8-24">
                            <span class="form semicolon">:</span>
                            <span class="form">@parentData.NIK_ibu</span>
                        </div>
                        <div class="pure-u-2-24">
                            <span class="form">DPOB</span>
                        </div>
                        <div class="pure-u-7-24">
                            <span class="form semicolon">:</span>
                            <span class="form">@parentData.tempatlahir_ibu, @(parentData.tanggallahir_ibu?.formatDDMMYYYY())</span>
                        </div>
                    </div>

                    <div class="pure-g form-row">
                        <div class="pure-u-1-24" style="height: 100%;">
                            <span class="form form-title"></span>
                        </div>
                        <div class="pure-u-6-24">
                            <span class="form">IDENTIFICATION NUMBER</span>
                        </div>
                        <div class="pure-u-8-24">
                            <span class="form semicolon">:</span>
                            <span class="form">@parentData.No_KTP</span>
                        </div>
                        <div class="pure-u-2-24">
                            <span class="form">PHONE</span>
                        </div>
                        <div class="pure-u-7-24">
                            <span class="form semicolon">:</span>
                            <span class="form">@parentData.No_HP</span>
                        </div>
                    </div>

                    <div class="pure-g form-row">
                        <div class="pure-u-1-24" style="height: 100%;">
                            <span class="form form-title"></span>
                        </div>
                        <div class="pure-u-6-24">
                            <span class="form">ADDRESS</span>
                        </div>
                        <div class="pure-u-17-24">
                            <span class="form semicolon">:</span>
                            <span class="form">@parentData.Alamat</span>
                        </div>
                    </div>

                    <div class="pure-g"></div>

                    <div class="pure-g form-row">
                        <div class="pure-u-1-24" style="height: 100%;">
                            <span class="form form-title"></span>
                        </div>
                        <div class="pure-u-6-24">
                            <span class="form form-title">REGISTERED TO CLASS</span>
                        </div>
                        <div class="pure-u-17-24">
                            <span class="form form-title semicolon">:</span>
                            @{
                                string kelas = "";
                                switch (@studentData.id_kelas)
                                {
                                    case 0:
                                        kelas = "PLAYGROUP";
                                        break;
                                    case 1:
                                        kelas = "TK A";
                                        break;
                                    case 2:
                                        kelas = "TK B";
                                        break;
                                    default:
                                        break;
                                }
                            }
                            <span class="form form-title">@kelas</span>
                        </div>
                    </div>
                </div>

                <div class="pure-g form-row" style="text-align: center;">
                    <div class="pure-u-1-3"></div>
                    <div class="pure-u-1-3"></div>
                    <div class="pure-u-1-3">
                        <span class="form">Tangerang, @DateTime.Now.formatDDMMYYYY()</span>
                    </div>
                </div>

                <div class="pure-g form-row" style="text-align: center;">
                    <div class="pure-u-1-3">
                        <span class="form">FATHER SIGN</span>
                    </div>
                    <div class="pure-u-1-3"></div>
                    <div class="pure-u-1-3">
                        <span class="form">MOTHER SIGN</span>
                    </div>
                </div>

                <div style="margin: 8rem;"></div>

                <div class="pure-g form-row" style="text-align: center;">
                    <div class="pure-u-1-3">
                        <span class="form">(.......................................)</span>
                    </div>
                    <div class="pure-u-1-3"></div>
                    <div class="pure-u-1-3">
                        <span class="form">(.......................................)</span>
                    </div>
                </div>


                <div class="photo-dimension flex-center">
                    <div style="width: 75%; text-align: center;">
                        Photo Size 2 X 3 CM
                    </div>
                </div>
            </div>
        </div>
        <script>
            function printPage(){
                // window.print();
            }
        </script>
    </body>
</html>