<div class="row align-items-center bg-light border-bottom" style="margin: 0px;height: 4rem;">
    <div class="col-auto align-self-center border-right"><button class="btn" id="menu-toggle" type="button"><i class="fa fa-bars"></i></button></div>
    <div class="col mr-auto"></div>
    <div class="col-auto text-right">
        <div class="row">
            <div class="col"><span>@((Session["sesiAkun"] as Panda_Mandiri.Models.Extended.modelAkun).email)</span></div>
        </div>
        <div class="row text-muted">
            <div class="col">
                <span style="font-size: 0.75rem;">
                    @if ((Session["sesiAkun"] as Panda_Mandiri.Models.Extended.modelAkun).tipeAkun == "user")
                    {
                        <span>
                            <a href="@Url.Action("editDataWali", "User")">
                                Edit profile
                            </a>
                             - 
                        </span>
                    }
                    @((Session["sesiAkun"] as Panda_Mandiri.Models.Extended.modelAkun).tipeAkun.FirstCharToUpper())
                </span>
            </div>
        </div>
    </div>
</div>