﻿<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"><img src="../assets/img/ApertureDaycareLogo.png" style="width: 150px;"></div>
    <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action bg-light" href="@Url.Action("Index", "User")">Dashboard</a>
        <a class="list-group-item list-group-item-action bg-light" href="@Url.Action("Profile", "User")">Profile Wali</a>
        <a class="list-group-item list-group-item-action bg-light" href="@Url.Action("UserForm", "Home")">Pendaftaran</a>
    </div>
</div>