﻿@{
    ViewBag.Title = "verify";
    Layout = "~/Views/Home/HomeLayout.cshtml";
}

<style>
    .header-background {
        background-color: #5cabff;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
    }

    .box {
        background-color: #44AA8B;
        padding: 20px 20px 20px 20px;
    }
</style>

<body>
    <header class="masthead header-background" style="padding: 46px 0px 50px 0px;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="site-heading text-light">
                        <h1>Class Activity</h1><span class="post-subtitle">Dzakira Cahaya Islami Foundation</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <h2 class="post-title"></h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <div class="border rounded-0 border-white post-preview box">
                    <h3 class="text-white">1. <strong>IMAGINATION</strong></h3>
                    <p class="text-justify text-white post-meta"><em>Developing the personality aspects of children in socializing, communicating and developing language. Role play that can shape children&#39;s characters, and train children to compose their own stories</em><br /></p>
                </div>
                <div class="border rounded-0 border-white post-preview box">
                    <h3 class="text-white">2. Block Building</h3>
                    <p class="text-justify text-white post-meta"><em>Train children to work with blocks to develop creativity, imagination, basic mathematical concepts, through experiments and group work</em><br /></p>
                </div>
                <div class="border rounded-0 border-white post-preview box">
                    <h3 class="text-white">3. Creation</h3>
                    <p class="text-justify text-white post-meta"><em>Develops </em>Psychomotor <em>skills, creativity, initiative, and motivation</em><br /></p>
                </div>
                <div class="border rounded-0 border-white post-preview box">
                    <h3 class="text-white">4. Explore</h3>
                    <p class="text-justify text-white post-meta"><em>Sharpen senses, practice courage, and explore using different colors, textures, water and other materials</em><br /></p>
                </div>
                <div class="border rounded-0 border-white post-preview box">
                    <h3 class="text-white">5. Preparation (Math and Languages)</h3>
                    <p class="text-justify text-white post-meta"><em>Introducing numeracy concepts, reading and writing preparation. Including practicing concentration and logical thinking</em><br /></p>
                </div>
                <div class="border rounded-0 border-white post-preview box">
                    <h3 class="text-white">6. Observance</h3>
                    <p class="text-justify text-white post-meta"><em>Procedures and prayer for wudu, observance, prophetic stories, aspects of language development and Islamic morals</em><br /></p>
                </div>
                <div class="border rounded-0 border-white post-preview box">
                    <h3 class="text-white">7. <strong>Computer and IT Center</strong></h3>
                    <p class="text-justify text-white post-meta"><em>Knowledge and skills in using computers in early childhood.</em><br /></p>
                </div>
                <div class="post-preview"><a href="#"></a></div>
                <div class="post-preview"><a href="#"></a></div>
                <div class="post-preview"><a href="#"></a></div>
                <div class="clearfix"></div>
                <h3 class="text-white post-subtitle"><strong>1.</strong><strong>IMAGINATION</strong></h3>
            </div>
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <div class="border rounded-0 border-white post-preview">
                    <h3>Teaching System</h3>
                    <p class="text-justify post-meta"><br />Dzakira Cahaya Islamu Consist of 3 arranged scopes :<br /><br /></p>
                </div>
                <div class="border rounded-0 border-white post-preview box">
                    <h3 class="text-white">1. Basic Skills</h3>
                    <p class="text-justify text-white post-meta"><em>Language</em><br /><em>Logical Thinking (preliminary mathematics and science)</em><br /><em>Skills (art and creative)</em><br /><em>Physical</em><br /></p>
                </div>
                <div class="border rounded-0 border-white post-preview box">
                    <h3 class="text-white"><strong>2. Attitude and Behavior Development</strong></h3>
                    <p class="text-justify text-white post-meta">Spiritual Quotient<br />Emotional Quotient</p>
                </div>
                <div class="border rounded-0 border-white post-preview box">
                    <h3 class="text-white">3. Islamic Development</h3>
                    <p class="text-justify text-white post-meta">Aqidah<br />Observance<br />Prayer</p>
                </div>
                <div class="post-preview"><a href="#"></a></div>
                <div class="post-preview"><a href="#"></a></div>
                <div class="post-preview"><a href="#"></a></div>
                <div class="clearfix"></div>
                <h3 class="text-white post-subtitle"><strong>1.</strong><strong>IMAGINATION</strong></h3>
                <div class="border rounded-0 border-white post-preview">
                    <h3>Activities Program</h3>
                    <p class="text-justify post-meta">Home visit<br />Prayer Practice<br />Brushing teeth<br />School Feeding<br />Assembly<br /></p>
                </div>
                <div class="border rounded-0 border-white post-preview">
                    <h3>Supporting Activities</h3>
                    <p class="text-justify post-meta"><em>Educational visits</em><br /><em>social service</em><br />Manasik Hajj<br /><em>Ramadan Week</em><br /><em>Swimming</em><br /><em>Children&#39;s competition</em><br /></p>
                </div>
                <p><br /></p>
            </div>
        </div>
    </div>
</body>

