﻿@model Panda_Mandiri.Models.Extended.modelAkun
<nav class="navbar navbar-light navbar-expand-md navigation-clean fixed-top">
    <div class="container">
        <a class="navbar-brand" href="@Url.Action("index", "Home")"><img src="~/content/img/TK_Islam_Dzakira_Logo.png" style="width: 150px;"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item" role="presentation"><a class="nav-link divlink" href="@Url.Action("index", "Home")#AboutUs">About Us</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link divlink" href="@Url.Action("index", "Home")#ClassActivity">Our Activity</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link divlink" href="@Url.Action("index", "Home")#PaymentInfo">Payment Info</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link divlink" href="@Url.Action("index", "Home")#ContactInfo">Contact</a></li>
            </ul>
            @if(Session["sesiAkun"] != null)
            {
                    <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation" style="margin-right: 1vw;"><a class="nav-link" href="@Url.Action("Redirect","Home")"><span>Go to dashboard&nbsp;→<br></span></a></li>
                </ul>
            }
            else
            {
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation" style="margin-right: 1vw;"><a class="btn btn-primary" role="button" href="@Url.Action("Login", "Home")">Login</a></li>
                <li class="nav-item" role="presentation"><a class="btn btn-success" role="button" href="@Url.Action("Register", "Home")">Register</a></li>
            </ul>
            }
        </div>
    </div>
</nav>

@* ================================= Script ================================= *@

<script>
    $(document).ready(function (){
        $(".divlink").click(function() {
            // Store hash
            var hash = this.hash;

            console.log(hash);

            var elementTarget = $(hash)
            
            elementTarget
                .find(".collapse")
                .addClass("show");
            
            console.log(elementTarget
                .find("button"));

            elementTarget
                .find("button")
                .attr("aria-expanded", "true");

            // Using jQuery's animate() method to add smooth page scroll
            $('html, body').animate({
                scrollTop: $(hash).offset().top
            }, 800, function() {
                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
            });

            // Prevent default anchor click behavior
            return false;
        });
    })
</script>
