@{
    ViewBag.Title = "Login";
    ViewBag.isIndex = true;
    Layout = "~/Views/Home/HomeLayout.cshtml";
}
@if (ViewBag.alerts != null)

{

    foreach (Panda_Mandiri.Controllers.Alert alert in ViewBag.alerts)

    {
        <div class="alert alert-@alert.severity" role="alert">
            @alert.text
        </div>}
}

<style>
    .header-background-pattern {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='540' height='450' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
    }
    
    .box {
        background-color: #44AA8B;
        padding: 20px 20px 20px 20px;
    }

    .limit-width {
        max-width: 50vw;
    }

    .no-border {
        border: none;
    }

    .back-to-top {
        position: fixed;
        bottom: 25px;
        right: 25px;
        display: none;
    }
</style>

<div class="jumbotron text-right border rounded-0 bg-cover text-light vertical-center"
     style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(&quot;/Content/img/Front_Page.jpg&quot;);height: calc(100vw*0.4);">
    <div class="container" style="width: calc(100vw*1);">
        <h1 style="font-size: 4vw;"><br>TK Islam Dzakira<br></h1>
        <p style="font-size: 1.5vw;">
            Learn Grow Up Together!<br>
        </p>
        <p><a href="@Url.Action("index", "Home")#AboutUs" class="btn btn-primary divlink" role="button">Learn more</a></p>
    </div>
</div>

<div class="features-boxed" style="background-color: transparent;">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">WELCOME TO DZAKIRA CAHAYA ILMU</h2>
        </div>
        <div class="row justify-content-center features">
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-map-marker icon"></i>
                    <h3 class="name">Rabbani Generation</h3>
                    <p class="description">Adding a basic Islamic character by getting used to the practice of Islamic teachings according to the child's age development</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-clock-o icon"></i>
                    <h3 class="name">Early-Age Education</h3>
                    <p class="description">Become a playmate and learn about the early formation of the Islamic generation, which is fun and trusted</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-lightbulb-o icon"></i>
                    <h3 class="name">Basic Knowledge Preparation</h3>
                    <p class="description">Equipping children with preparations for entering basic education</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 item">
                <div class="box">
                    <i class="fa fa-leaf icon"></i>
                    <h3 class="name">Tahfidzul Qur&#39;an</h3>
                    <p class="description">Able to memorize surah Al-Qur&#39;an at juz 30, Hadith and daily prayers.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="accordion" id="accordionExample">
    <div class="card" id="AboutUs">
        <div class="card-header no-border header-background-pattern bg-primary" id="aboutUsHeading">
            <h2 class="mb-0">
                <div class="container limit-width">
                    <button class="btn btn-block text-left text-light" type="button" data-toggle="collapse" data-target="#aboutUsCollapse" aria-expanded="false" aria-controls="aboutUsCollapse">
                        <h1>About us</h1>
                    </button>
                </div>
            </h2>
        </div>

        <div class="container limit-width">
            <div id="aboutUsCollapse" class="collapse" aria-labelledby="aboutUsHeading">
                <div class="card-body">
                    <div class="text">
                        <p>
                        <p><strong>About Dzakia Cahaya Ilmu Foundation</strong></p>
                        Dzakira Cahaya Ilmu is a Foundation that houses TK Islam Dzakira and PG Islam Dzakia. This
                        foundation established since October 2017.
                        </p>
                        <p>
                        <p><strong>Operational Permission</strong></p>
                        No. 421.1/205/PPMPTSP/X/2017
                        </p>
                        <h2>History of Dzakira Cahaya Ilmu Foundation</h2>
                        <p>
                            The PG (Play Group) / TK Islam Dzakira was initially held in mid-October 2007 due to the efforts
                            of several people who were concerned about the development of morality of Toddler in Tangerang
                            city in general and around the Cibogo sub-district, Cisauk district under the auspices of the
                            Mitra Foundation. Madani Depok Sejahtera. This happened because of the inaccuracy in educating
                            children at an early age and pre-school age.
                        </p>
                        <figure>
                            <img class="figure-img img-fluid"
                                src="~/Content/img/121197733_1285131828495326_5502124579838644751_o.jpg" />
                            <figcaption> Children Activity in TK Islam Dzakira</figcaption>
                        </figure>
                        <p>
                            On that basis, Islamic PG / TK Dzakira really cares about the education of school-age children,
                            especially religious, mental and intelligence education. Therefore the Islamic Kindergarten /
                            Kindergarten Dzakira is expected to be able to assist parents in forming a character and
                            personality that is righteous in their children, equipping children with morals and akhlaqul
                            karimah towards pentauhidan to Allah subhanahu wa ta'ala.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card" id="ClassActivity">
        <div class="card-header no-border header-background-pattern bg-success" id="classActivityHeading">
            <h2 class="mb-0">
                <div class="container limit-width">
                    <button class="btn btn-block text-left text-light" type="button" data-toggle="collapse" data-target="#classActivityCollapse" aria-expanded="false" aria-controls="classActivityCollapse">
                        <h1>Class Activity</h1>
                    </button>
                </div>
            </h2>
        </div>

        <div class="container limit-width">
            <div id="classActivityCollapse" class="collapse" aria-labelledby="classActivityHeading">
                <div class="card-body">
                    <div class="border rounded-0 border-white post-preview box">
                    <h3 class="text-white">1. <strong>IMAGINATION</strong></h3>
                    <p class="text-justify text-white post-meta"><em>Developing the personality aspects of children in socializing, communicating and developing language. Role play that can shape children&#39;s characters, and train children to compose their own stories</em><br /></p>
                </div>
                <div class="border rounded-0 border-white post-preview box">
                    <h3 class="text-white">2. Block Building</h3>
                    <p class="text-justify text-white post-meta"><em>Train children to work with blocks to develop creativity, imagination, basic mathematical concepts, through experiments and group work</em><br /></p>
                </div>
                <div class="border rounded-0 border-white post-preview box">
                    <h3 class="text-white">3. Creation</h3>
                    <p class="text-justify text-white post-meta"><em>Develops </em>Psychomotor <em>skills, creativity, initiative, and motivation</em><br /></p>
                </div>
                <div class="border rounded-0 border-white post-preview box">
                    <h3 class="text-white">4. Explore</h3>
                    <p class="text-justify text-white post-meta"><em>Sharpen senses, practice courage, and explore using different colors, textures, water and other materials</em><br /></p>
                </div>
                <div class="border rounded-0 border-white post-preview box">
                    <h3 class="text-white">5. Preparation (Math and Languages)</h3>
                    <p class="text-justify text-white post-meta"><em>Introducing numeracy concepts, reading and writing preparation. Including practicing concentration and logical thinking</em><br /></p>
                </div>
                <div class="border rounded-0 border-white post-preview box">
                    <h3 class="text-white">6. Observance</h3>
                    <p class="text-justify text-white post-meta"><em>Procedures and prayer for wudu, observance, prophetic stories, aspects of language development and Islamic morals</em><br /></p>
                </div>
                <div class="border rounded-0 border-white post-preview box">
                    <h3 class="text-white">7. <strong>Computer and IT Center</strong></h3>
                    <p class="text-justify text-white post-meta"><em>Knowledge and skills in using computers in early childhood.</em><br /></p>
                </div>
                <div class="post-preview"><a href="#"></a></div>
                <div class="post-preview"><a href="#"></a></div>
                <div class="post-preview"><a href="#"></a></div>
                <div class="clearfix"></div>
                <h3 class="text-white post-subtitle"><strong>1.</strong><strong>IMAGINATION</strong></h3>
            </div>

            <div class="border rounded-0 border-white post-preview">
                <h3>Teaching System</h3>
                <p class="text-justify post-meta"><br />Dzakira Cahaya Islamu Consist of 3 arranged scopes :<br /><br /></p>
            </div>
            <div class="border rounded-0 border-white post-preview box">
                <h3 class="text-white">1. Basic Skills</h3>
                <p class="text-justify text-white post-meta"><em>Language</em><br /><em>Logical Thinking (preliminary mathematics and science)</em><br /><em>Skills (art and creative)</em><br /><em>Physical</em><br /></p>
            </div>
            <div class="border rounded-0 border-white post-preview box">
                <h3 class="text-white"><strong>2. Attitude and Behavior Development</strong></h3>
                <p class="text-justify text-white post-meta">Spiritual Quotient<br />Emotional Quotient</p>
            </div>
            <div class="border rounded-0 border-white post-preview box">
                <h3 class="text-white">3. Islamic Development</h3>
                <p class="text-justify text-white post-meta">Aqidah<br />Observance<br />Prayer</p>
            </div>
            <div class="post-preview"><a href="#"></a></div>
            <div class="post-preview"><a href="#"></a></div>
            <div class="post-preview"><a href="#"></a></div>
            <div class="clearfix"></div>
            <h3 class="text-white post-subtitle"><strong>1.</strong><strong>IMAGINATION</strong></h3>
            <div class="border rounded-0 border-white post-preview">
                <h3>Activities Program</h3>
                <p class="text-justify post-meta">Home visit<br />Prayer Practice<br />Brushing teeth<br />School Feeding<br />Assembly<br /></p>
            </div>
            <div class="border rounded-0 border-white post-preview">
                <h3>Supporting Activities</h3>
                <p class="text-justify post-meta"><em>Educational visits</em><br /><em>social service</em><br />Manasik Hajj<br /><em>Ramadan Week</em><br /><em>Swimming</em><br /><em>Children&#39;s competition</em><br /></p>
            </div>
            <p><br /></p>
            </div>
        </div>
    </div>

    <div class="card" id="PaymentInfo">
        <div class="card-header no-border header-background-pattern bg-danger" id="pricingHeading">
            <h2 class="mb-0">
                <div class="container limit-width">
                    <button class="btn btn-block text-left text-light" type="button" data-toggle="collapse" data-target="#pricingCollapse" aria-expanded="false" aria-controls="pricingCollapse">
                        <h1>Payment Info</h1>
                    </button>
                </div>
            </h2>
        </div>

        <div class="container limit-width">
            <div id="pricingCollapse" class="collapse" aria-labelledby="pricingHeading">
                <div class="card-body">
                    <div class="table-responsive table-bordered">
                        <table class="table table-bordered table-hover">
                            <caption></caption>
                            <thead>
                                <tr>
                                    <th rowspan="2">Pricing Description</th>
                                    <th class="text-center" colspan="2">First Registration</th>
                                    <th class="text-center" colspan="2">Reregistration</th>
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center">
                                    <td></td>
                                    <td><strong>Kindergarten</strong></td>
                                    <td><strong>Playgroup</strong></td>
                                    <td><strong>Playgroup/Adv. Kindergarten</strong></td>
                                    <td><strong>Basic Kindergarten</strong></td>
                                    <td><strong>Daycare to Playgroup</strong></td>
                                </tr>
                                <tr class="text-right">
                                    <td class="text-left">Base Tuition Fee (2020-2021)</td>
                                    <td>Rp6.350.000</td>
                                    <td>Rp6.300.000</td>
                                    <td>Rp3.100.000</td>
                                    <td>Rp3.850.000</td>
                                    <td>Rp4.850.000<br></td>
                                </tr>
                                <tr class="text-right">
                                    <td class="text-left">First Monthly Fee</td>
                                    <td class="text-center" colspan="4">Rp490.000</td>
                                    <td>Rp1.850.000</td>
                                </tr>
                                <tr class="text-right">
                                    <td class="text-left">Registration Form</td>
                                    <td class="text-center" colspan="5">Rp200.000</td>
                                </tr>
                            </tbody>
                            <tfoot class="text-right">
                                <tr>
                                    <td class="text-right"><strong>Total</strong></td>
                                    <td>Rp7.040.000</td>
                                    <td>Rp6.990.000</td>
                                    <td>Rp3.790.000</td>
                                    <td>Rp4.540.000</td>
                                    <td>Rp6.900.000</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card" id="ContactInfo">
        <div class="card-header no-border header-background-pattern bg-secondary" id="contactHeading">
            <h2 class="mb-0">
                <div class="container limit-width">
                    <button class="btn btn-block text-left text-light" type="button" data-toggle="collapse" data-target="#contactCollapse" aria-expanded="true" aria-controls="contactCollapse">
                        <h1>Contact Info</h1>
                    </button>
                </div>
            </h2>
        </div>

        <div class="container limit-width">
            <div id="contactCollapse" class="collapse show" aria-labelledby="contactHeading">
                <div class="card-body">
                    <div class="py-4">
                        <div class="row align-items-center">
                            <div class="col-md text-right">
                                <h4>Email</h4>
                            </div>
                            <div class="col">
                                <a href="mailto:mailtopandaman@gmail.com" target="_blank" rel="noopener noreferrer">mailtopandaman@gmail.com</a>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md text-right">
                                <h4>Facebook</h4>
                            </div>
                            <div class="col">
                                <a href="https://m.facebook.com/Dzakira-Cahaya-Ilmu-268301803511672/" target="_blank" rel="noopener noreferrer">Dzakira Cahaya Ilmu</a>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md text-right">
                                <h4>Youtube</h4>
                            </div>
                            <div class="col">
                                <a href="https://www.youtube.com/channel/UCWhryWDJXrM6Jm3bHu7P0sg/about" target="_blank" rel="noopener noreferrer">@@Dzakira_Cahaya_Ilmu</a>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md text-right">
                                <h4>Instagram</h4>
                            </div>
                            <div class="col">
                                <a href="https://www.instagram.com/dzakira_cahaya_ilmu/" target="_blank" rel="noopener noreferrer">@@dzakira_cahaya_ilmu</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md text-right">
                                <h4>Location</h4>
                            </div>
                            <div class="col" style="height: 30vh;">
                                <iframe allowfullscreen="" frameborder="0"
                                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDnxREpFA845aypZdRjfSN0Wj5R7QftUJM&amp;q=TK+dan+Daycare+Dzakira&amp;zoom=15" width="100%" height="100%"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<a id="back-to-top" href="#" class="btn btn-dark btn-lg back-to-top" role="button"><i class="fas fa-chevron-up"></i></a>

@* ==================================== Script ==================================== *@

<script>
    $(document).ready(function (){
        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 400);
            return false;
        });
        
        let elementTarget = $("div:target");
        
        if (elementTarget.length > 0)
        {
            elementTarget
                .find(".collapse")
                .addClass("show");
            
            console.log(elementTarget
                .find("button"));

            elementTarget
                .find("button")
                .attr("aria-expanded", "true");

            
            $("body,html").animate(
                {
                    scrollTop: elementTarget.offset().top
                },
                800 //speed
            );
        }
    })
</script>