﻿@model Panda_Mandiri.Models.Extended.modelAkun
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Home/HomeLayout.cshtml"; 
}

<div class="container-fluid d-lg-flex justify-content-lg-center align-items-lg-center" style="height: 80vh;">

    @using (Html.BeginForm("Login", "Home", FormMethod.Post, new
    {
        @id = "loginform",
        @class = "border rounded m-auto",
        style = "height: auto;padding: 50px;max-width: 450px;"
    }))
    {
        <h1 class="text-center" style="margin-bottom: 20px;">Login</h1> if (ViewBag.alerts != null)
        {
            foreach (Panda_Mandiri.Controllers.Alert alert in ViewBag.alerts)
            {
                <div class="alert alert-@alert.severity" role="alert">
                    @alert.text
                </div>
            }
        }
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-at"></i>
                    </span>
                </div>
                @Html.TextBoxFor(x => x.email, new
                {
                    required = "required",
                    type = "email",
                    PlaceHolder = "example@email.com",
                    @Class = ViewBag.emailError != null ? "form-control is-invalid" : "form-control"
                })
            </div>
            @if (ViewBag.emailError != null)
            {
                <span id="email-error-serverside" class="label label-danger invalid-feedback" style="display: inline;">@(ViewBag.emailError)</span> 
            } 
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                @Html.PasswordFor(x => x.password, new
                {
                    required = "required",
                    type = "password",
                    PlaceHolder = "Password",
                    @Class = ViewBag.passwordError != null ? "form-control is-invalid" : "form-control"
                })
            </div>
            @if (ViewBag.passwordError != null)
            {
                <span id="password-error-serverside" class="label label-danger invalid-feedback" style="display: inline;">@(ViewBag.passwordError)</span> 
            }
        </div>
        <div class="d-none">
            <input name="redirect" type="hidden" value="@ViewBag.redirect">
        </div>
        <div class="form-group d-xl-flex align-items-xl-center" style="padding: 5px;margin-bottom: 5px;">
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
            @* <input class="submit btn btn-primary btn-block" type="submit" value="Submit"> *@
        </div>

        <div
            class="d-flex justify-content-center align-items-center" style="margin-bottom: 0.25rem;">
            <a href="@Url.Action("resetPassword", "Home" )">Forgot password</a>
        </div>

        <div
            class="d-flex justify-content-center align-items-center">
            <a href="@Url.Action("Register", "Home" )">Haven't joined yet? Join us!</a>
        </div>
    }
</div>

@* ====================================== Script ======================================== *@

<script>
    $(document).ready(function () {
        $('#loginform')
            .submit(function () {
                $(this).find('button[type=submit]')
                    .prop('disabled', true)
                    .html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`);
            })
            .validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true
                    }
                },

                highlight: function (element) {
                    jQuery(element).closest('.form-control').removeClass('is-valid');
                    jQuery(element).closest('.form-control').addClass('is-invalid');
                },
                unhighlight: function (element) {
                    jQuery(element).closest('.form-control').removeClass('is-invalid');
                    jQuery(element).closest('.form-control').addClass('is-valid');
                },
                errorElement: 'span',
                errorClass: 'label label-danger',
                errorPlacement: function (error, element) {
                    $('[id$=serverside]').remove();
                    error.addClass('invalid-feedback');
                    if (element.closest('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                },
                invalidHandler: function (event, validator) {
                    $(this).find('button[type=submit]')
                        .prop('disabled', false)
                        .html(`Submit`);
                }
            });
    });
</script>