﻿@model Panda_Mandiri.Models.Extended.modelAkun 
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Home/HomeLayout.cshtml";
}
<div class="container-fluid d-lg-flex justify-content-lg-center align-items-lg-center" style="height: 80vh;">
    @* <form class="border rounded m-auto" style="height: auto;padding: 50px;max-width: 450px;">


        </form> *@
    @using (Html.BeginForm("Register", "Home", FormMethod.Post, new { @id = "registerform", @class = "border rounded m-auto", style = "height: auto;padding: 50px;max-width: 450px;" }))
    {
        @Html.AntiForgeryToken()
        <h1 class="text-center" style="margin-bottom: 20px;">Register</h1>
        if (ViewBag.emailError == null || ViewBag.passwordError == null || ViewBag.confirmPasswordError == null)
        {
            <div class="alert alert-warning" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <span><strong>Use a valid email! </strong>We will use this to confirm your account</span>
            </div>
        }

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-at"></i></span>
                </div>
                @Html.TextBoxFor(inp => inp.email, new { required = "required", type = "email", PlaceHolder = "example@email.com", @Class = ViewBag.emailError != null ? "form-control is-invalid" : "form-control", inputmode = "email" })
            </div>
            @{
                if (ViewBag.emailError != null) {
                    <span id="email-error-serverside" class="label label-danger invalid-feedback" style="display: inline;">@(ViewBag.emailError)</span>
                }
            }
        </div>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text"><i class="fas fa-key"></i></span></div>
                @Html.TextBoxFor(inp => inp.password, new { required = "required", type = "password", PlaceHolder = "Password", @Class = ViewBag.passwordError != null ? "form-control is-invalid" : "form-control" })
            </div>
            @{
                if (ViewBag.passwordError != null) {
                    <span id="password-error-serverside" class="label label-danger invalid-feedback" style="display: inline;">@(ViewBag.passwordError)</span>
                }
            }
        </div>

        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                @Html.TextBoxFor(inp => inp.confirmPassword, new { required = "required", type = "password", PlaceHolder = "Password Confirmation", @Class = ViewBag.confirmPasswordError != null ? "form-control is-invalid" : "form-control" })
            </div>
            @{
                if (ViewBag.confirmPasswordError != null) {
                    <span id="confirmPassword-error-serverside" class="label label-danger invalid-feedback" style="display: inline;">@(ViewBag.confirmPasswordError)</span>
                }
            }
        </div>

        <div class="form-group d-xl-flex align-items-xl-center" style="padding: 5px;margin-bottom: 5px;">
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
            @* <input class="submit btn btn-primary btn-block" type="submit" value="Submit"> *@
        </div>
        <div class="form-group d-sm-flex d-xl-flex justify-content-sm-center justify-content-xl-center align-items-xl-center"><a href="@Url.Action("Login", "Home")">Already joined? Login here!</a></div>
    }
</div>

@* ====================================== Script ======================================== *@

<script>
    $(document).ready(function (){
        $("#registerform")
        .submit(function (){
            $(this).find('button[type=submit]')
                .prop('disabled', true)
                .html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`);
        })
        .validate({
            rules:{
                email: {
                    required: true,
                    email: true,
                },
                password: {
                    required: true,
                    rangelength: [6, 32],
                },
                confirmPassword: {
                    required: true,
                    equalTo: "#password",
                }
            },

            highlight: function(element) {
                jQuery(element).closest('.form-control').removeClass('is-valid');
                jQuery(element).closest('.form-control').addClass('is-invalid');
            },
            unhighlight: function(element) {
                jQuery(element).closest('.form-control').removeClass('is-invalid');
                jQuery(element).closest('.form-control').addClass('is-valid');
            },
            errorElement: 'span',
            errorClass: 'label label-danger',
            errorPlacement: function(error, element) {
                $("[id$=serverside]").remove();
                error.addClass('invalid-feedback');
                if(element.closest('.input-group').length) {
                    error.insertAfter(element.parent());
                } else {
                    error.insertAfter(element);
                }
            },
            invalidHandler: function (event, validator){
                $(this).find('button[type=submit]')
                    .prop('disabled', false)
                    .html(`Submit`);
            }
        });
    })
</script>