@{
    ViewBag.Title = "Reset Success";
    Layout = "~/Views/Home/HomeLayout.cshtml";
}

<div class="container-fluid d-lg-flex justify-content-lg-center align-items-lg-center" style="height: 80vh;">
    <form class="border rounded m-auto" style="height: auto;padding: 50px;max-width: 450px;">
        <h1 class="text-center" style="margin-bottom: 20px;">Success!</h1>
        <div
        class="form-group d-sm-flex d-xl-flex justify-content-sm-center justify-content-xl-center align-items-xl-center">
            <span>
                We've sent you a link to reset your account by email. If you didn't receive any, please wait
                until 24 hours to receive the email.</span></div>
        <div
        class="form-group d-sm-flex d-xl-flex justify-content-sm-center justify-content-xl-center align-items-xl-center">
            <span>
                If you still didn't receive any email, please contact our website administrator.</span>
        </div>
        <div
        class="form-group d-sm-flex d-xl-flex justify-content-sm-center justify-content-xl-center align-items-xl-center">
            <a href="@Url.Action("Login", "Home")">To login page</a></div>
    </form>
</div>