@{
    ViewBag.Title = "registerSuccess";
    Layout = "~/Views/Home/HomeLayout.cshtml";
}

<div class="container-fluid d-lg-flex justify-content-lg-center align-items-lg-center" style="height: 80vh;">
    <form class="border rounded m-auto" style="height: auto;padding: 50px;max-width: 450px;">
        @if (ViewBag.resetSuccess != null)
        {
            <h1 class="text-center" style="margin-bottom: 20px;">Success!</h1>
            <div class="form-group d-sm-flex d-xl-flex justify-content-sm-center justify-content-xl-center align-items-xl-center">
                <span>
                    Your account password has been reset. If you want to login, please click the link below</span>
            </div>
            <div class="form-group d-sm-flex d-xl-flex justify-content-sm-center justify-content-xl-center align-items-xl-center">
                <a href="@Url.Action("Login", "Home")">To login page</a>
            </div>
        }
        else 
        {
            <h1 class="text-center" style="margin-bottom: 20px;">Oops!</h1>
            <div
            class="form-group d-sm-flex d-xl-flex justify-content-sm-center justify-content-xl-center align-items-xl-center">
                <span>
                    Reset password link is invalid. If you see this message after clicking the link in our verification email,
                    please contact our administrator.</span></div>
        }
    </form>
</div>