@model Panda_Mandiri.Models.Extended.modelAkun
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Home/HomeLayout.cshtml"; 
}

<div class="container-fluid d-lg-flex justify-content-lg-center align-items-lg-center" style="height: 80vh;">
    @using (Html.BeginForm("resetPassword", "Home", FormMethod.Post, new
    {
        @id = "resetPasswordForm",
        @class = "border rounded m-auto",
        style = "height: auto;padding: 50px;max-width: 450px;"
    }))
    {
        <h1 class="text-center" style="margin-bottom: 20px;">@ViewBag.Title</h1> if (ViewBag.alerts != null)
        {
            foreach (Panda_Mandiri.Controllers.Alert alert in ViewBag.alerts)
            {
                <div class="alert alert-@alert.severity" role="alert">
                    @alert.text
                </div>
            }
        }
        @Html.Hidden("key")
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                @Html.TextBox("newPassword", "", new
               {
                   required = "required",
                   type = "password",
                   PlaceHolder = "New Password",
                   @Class = "form-control"
               })
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                @Html.TextBox("confirmPassword", "", new
               {
                   required = "required",
                   type = "password",
                   PlaceHolder = "Confirm Password",
                   @Class = "form-control"
               })
            </div>
        </div>
        <div class="form-group d-xl-flex align-items-xl-center" style="padding: 5px;margin-bottom: 5px;">
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </div>
    }
</div>

@* ====================================== Script ======================================== *@

<script>
    $(document).ready(function () {
        $('#resetPasswordForm')
            .submit(function () {
                $(this).find('button[type=submit]')
                    .prop('disabled', true)
                    .html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`);
            })
            .validate({
                rules: {
                    newPassword: {
                        required: true,
                        rangelength: [6, 32],
                    },
                    confirmPassword: {
                        required: true,
                        equalTo: "#newPassword",
                    }
                },

                highlight: function (element) {
                    jQuery(element).closest('.form-control').removeClass('is-valid');
                    jQuery(element).closest('.form-control').addClass('is-invalid');
                },
                unhighlight: function (element) {
                    jQuery(element).closest('.form-control').removeClass('is-invalid');
                    jQuery(element).closest('.form-control').addClass('is-valid');
                },
                errorElement: 'span',
                errorClass: 'label label-danger',
                errorPlacement: function (error, element) {
                    $('[id$=serverside]').remove();
                    error.addClass('invalid-feedback');
                    if (element.closest('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else {
                        error.insertAfter(element);
                    }
                },
                invalidHandler: function (event, validator) {
                    $(this).find('button[type=submit]')
                        .prop('disabled', false)
                        .html(`Submit`);
                }
            });
    });
</script>