﻿@{
    ViewBag.Title = "verify";
    Layout = "~/Views/Home/HomeLayout.cshtml";
}

<div class="container-fluid d-lg-flex justify-content-lg-center align-items-lg-center" style="height: 80vh;">
    <form class="border rounded m-auto" style="height: auto;padding: 50px;max-width: 450px;">
        @if (ViewBag.isVerified != null)
        {
            <h1 class="text-center" style="margin-bottom: 20px;">Email Verification Success!</h1>
            <div
            class="form-group d-sm-flex d-xl-flex justify-content-sm-center justify-content-xl-center align-items-xl-center">
                <span>Thanks for verifying your email account, @ViewBag.verifiedEmail! To log in, please click this link
                    below.</span></div>
            <div
            class="form-group d-sm-flex d-xl-flex justify-content-sm-center justify-content-xl-center align-items-xl-center">
                <a href="@Url.Action("Login", "Home")">To login page</a></div>
        }
        else
        {
            <h1 class="text-center" style="margin-bottom: 20px;">Oops!</h1>
            <div
            class="form-group d-sm-flex d-xl-flex justify-content-sm-center justify-content-xl-center align-items-xl-center">
                <span>
                    Verification link is invalid. If you see this message after clicking the link in our verification email,
                    please contact our administrator.</span></div>
        }
    </form>
</div>