﻿﻿@using ReportViewerForMvc
@{
    ViewBag.Title = "Print Form Preview";
    Layout = "~/Views/User/Shared/userLayout.cshtml";
    ViewBag.currentMenu = "printform";

    ViewBag.breadcrumb = helper.generateBreadcrumb(
        new[] { "Home", Url.Action("Index", "User") },
        new[] { "List Student", Url.Action("ListCetakForm", "User") },
        new[] { "Print Registration Form" }
    );
}

<div class="container">
    @Html.Partial("MobileWarning")
    <!-- This is a really dirty way to easily add HTML items on subtitle content. -->
    @if (ViewBag.ReportViewer == null)
    {
        <script>
            $("#subtitleHTML")
                .append($('<button class="btn btn-primary" id="printFormBtn">Print Form</button>')
                .click(function () { var iframe = $('#printForm')[0]; iframe.contentWindow.focus(); iframe.contentWindow.print(); }))
                .append($('<a href="@Url.Action("CetakForm", "User", new { fallback = "true" })" class="btn btn-secondary ml-2"role="button">Go to legacy version</a>'))
        </script>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe id="printForm"
                    title="Print Form"
                    class="embed-responsive-item"
                    src="@Url.Action("CetakForm", "User", new { isPrint = "true" })"></iframe>
        </div>
    }
    else
    {
        <script>
            $("#subtitleHTML")
                .append($('<a href="@Url.Action("CetakForm", "User")" class="btn btn-primary"role="button">Go back to newer version</a>'))
        </script>
        <div class="embed-responsive embed-responsive-16by9">
            @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { @class = "embed-responsive-item" })
        </div> 
    }
    
</div>


