﻿@model Panda_Mandiri.Models.Extended.modelSiswa
@{
    ViewBag.Title = "Register Student";
    Layout = "~/Views/User/Shared/UserLayout.cshtml";
    ViewBag.currentMenu = "registerstudent";

    ViewBag.breadcrumb = helper.generateBreadcrumb(
        new[] { "Home", Url.Action("Index", "User") },
        new[] { "Register Student" }
    );
}

<div class="container">
    <span class="text-danger">* All field must be filled</span>
    @using (Html.BeginForm("daftarkanSiswa", "User", FormMethod.Post, new
    {
        @id = "formwali",
        style = "height: auto;max-width: 850px;margin-left:7px;",
        enctype = "multipart/form-data"
    }))
    {
        <div class="form-row">
            <H2>Student Data</H2>
        </div>
        <div class="form-row">
            <div class="col-lg-8">
                <div class="form-group">
                    @Html.LabelFor(i => i.namaLengkap) <span class="text-danger"><strong>*</strong></span>
                    @Html.TextBoxFor(i => i.namaLengkap, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(i => i.namaPanggilan) <span class="text-danger"><strong>*</strong></span>
                    @Html.TextBoxFor(i => i.namaPanggilan, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg">
                <div class="form-group">
                    @{
                        var jenisKelaminList = new SelectList(
                                new List<SelectListItem>
                        {
                            new SelectListItem {Text = "Male", Value = "Male"},
                            new SelectListItem {Text = "Female", Value = "Female"},
                            new SelectListItem {Text = "Other", Value = "Other"},
                        }, "Value", "Text");
                    }

                    @Html.LabelFor(i => i.jenisKelamin) <span class="text-danger"><strong>*</strong></span>
                    @Html.DropDownListFor(i => i.jenisKelamin, jenisKelaminList, "Pick the gender", new { @class =
                    "form-control" })
                    @*@Html.TextBoxFor(i => i.jenisKelamin, new { @class = "form-control" })*@
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-8">
                <div class="form-group">
                    @Html.LabelFor(i => i.BirthPlace) <span class="text-danger"><strong>*</strong></span>
                    @Html.TextBoxFor(i => i.BirthPlace, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(i => i.BirtDate) <span class="text-danger"><strong>*</strong></span>
                    @Html.TextBoxFor(i => i.BirtDate, new { @class = "form-control datepicker" })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg">
                <div class="form-group">
                    @{
                        var ClassList = new SelectList(
                                new List<SelectListItem>
                        {
                            new SelectListItem {Text = "Playgroup", Value = "0"},
                            new SelectListItem {Text = "TK A", Value = "1"},
                            new SelectListItem {Text = "TK B", Value = "2"},
                        }, "Value", "Text");
                    }

                    @Html.LabelFor(i => i.ClassID) <span class="text-danger"><strong>*</strong></span>
                    @Html.DropDownListFor(i => i.ClassID, ClassList, "Select Class", new { @class =
                    "form-control" })
                    @*@Html.TextBoxFor(i => i.jenisKelamin, new { @class = "form-control" })*@
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.NIK) <span class="text-danger"><strong>*</strong></span>
                    @Html.TextBoxFor(i => i.NIK, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-5">
                <div class="form-group">
                    @Html.LabelFor(i => i.anakKe) <span class="text-danger"><strong>*</strong></span>
                    @Html.TextBoxFor(i => i.anakKe, new { @class = "form-control", @type = "number" })
                </div>
            </div>
            <div class="col-lg-7">
                <div class="form-group">
                    @Html.LabelFor(i => i.jmlSaudara) <span class="text-danger"><strong>*</strong></span>
                    @Html.TextBoxFor(i => i.jmlSaudara, new { @class = "form-control", @type = "number" })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-4">
                <div class="form-group">
                    @{
                        var golDarahList = new SelectList(
                                new List<SelectListItem>
                        {
                            new SelectListItem {Text = "A", Value = "A"},
                            new SelectListItem {Text = "B", Value = "B"},
                            new SelectListItem {Text = "AB", Value = "AB"},
                            new SelectListItem {Text = "O", Value = "O"},
                        }, "Value", "Text");
                    }

                    @Html.LabelFor(i => i.golDarah) <span class="text-danger"><strong>*</strong></span>
                    @Html.DropDownListFor(i => i.golDarah, golDarahList, "Pick the blood type", new { @class =
                    "form-control" })
                    @*@Html.TextBoxFor(i => i.golDarah, new { @class = "form-control" })*@
                </div>
            </div>
            <div class="col-lg-8">
                <div class="form-group">
                    @Html.LabelFor(i => i.tipeKelahiran) <span class="text-danger"><strong>*</strong></span>
                    @Html.TextBoxFor(i => i.tipeKelahiran, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.berapaLamaASI) <span class="text-danger"><strong>*</strong></span>
                    @Html.TextBoxFor(i => i.berapaLamaASI, new { @class = "form-control", @type = "number" })
                </div>
            </div>
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.berapaLamaSuFor) <span class="text-danger"><strong>*</strong></span>
                    @Html.TextBoxFor(i => i.berapaLamaSuFor, new { @class = "form-control", @type = "number" })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.alergi)
                    @Html.TextBoxFor(i => i.alergi, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.penyakit)
                    @Html.TextBoxFor(i => i.penyakit, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="my-4" />
        <div class="form-row">
            <H2>Attachments</H2>
        </div>
        <div class="form-row">
            <div class="col">
                <span>Note for the attachments</span>
                <ul>
                    <li>Attachment can only in a form of image with a format of JPEG, PNG, or TIFF</li>
                    <li>Image size cannot exceed 5 MB</li>
                    <li>Please check if the text inside the image is readable</li>
                    <li>We will send you a warning if it doesn't fulfill the requirement above</li>
                </ul>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.akta) <span class="text-danger"><strong>*</strong></span>
                    <div class="imgViewerParent border rounded-0 justify-content-center align-items-center mb-2 text-muted d-none" style="height: 200px;min-width: 100px;max-width: 100%;">
                        <span class="imgMessage">Image not available</span>
                        <a class="imgLink" href="#" target="_blank" style='height: 100%; width: 100%; object-fit: contain'>
                            <img class="imgViewer d-none" style='height: 100%; width: 100%; object-fit: contain'/>
                        </a>
                    </div>
                    <input type="file" class="form-control-file" accept="image/jpg,image/jpeg,image/png,image/gif" id="@Html.NameFor(i => i.akta)"
                    name="@Html.NameFor(i => i.akta)">
                </div>
            </div>
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.foto) <span class="text-danger"><strong>*</strong></span>
                    <div class="imgViewerParent border rounded-0 justify-content-center align-items-center mb-2 text-muted d-none" style="height: 200px;min-width: 100px;max-width: 100%;">
                        <span class="imgMessage">Image not available</span>
                        <a class="imgLink" href="#" target="_blank" style='height: 100%; width: 100%; object-fit: contain'>
                            <img class="imgViewer d-none" style='height: 100%; width: 100%; object-fit: contain'/>
                        </a>
                    </div>
                    <input type="file" class="form-control-file" accept="image/jpg,image/jpeg,image/png,image/gif" id="@Html.NameFor(i => i.foto)"
                    name="@Html.NameFor(i => i.foto)">
                </div>
            </div>
        </div>
        <div class="form-row text-right">
            <div class="col-lg">
                <button type="submit" class="btn btn-primary">Submit</button>
                @* <input class="submit btn btn-primary" type="submit" value="Submit"> *@
            </div>
        </div>
    }
</div>

@* ================================ Script ================================== *@

<script>
    $(document).ready(function () {
        $(".datepicker").datepicker({
            format: "dd/mm/yyyy",
            clearBtn: true
        });

        $.validator.addMethod('filesize', function (value, element, param) {
            return this.optional(element) || (element.files[0].size <= param * 1024 * 1024)
        }, 'File size must be less than {0} MB');

        function readImage (file, callback){
            // Check if the file is an image.
            if (file.type && file.type.indexOf('image') === -1) {
                return callback("notimage", null);
            }

            const reader = new FileReader();

            reader.addEventListener('load', function (event){
                callback(null, event.target.result);
            })

            reader.addEventListener('error', function (event){
                callback("readererror", null);
            })

            reader.readAsDataURL(file);
        }

        $("input[type=file]").change(function (event){
            $(this).parent().find(".imgViewerParent").addClass("d-flex").removeClass("d-none")
            var imgMessageElement = $(this).parent().find(".imgMessage");
            var imgViewerElement = $(this).parent().find(".imgViewer");
            var imgLinkElement = $(this).parent().find(".imgLink");

            var img = $(this).prop('files')[0];

            readImage(img, function (err, fileURL){
                switch (err)
                {
                    case "readererror":
                        imgMessageElement.toggleClass("d-none", false).text("Something happened when trying to read the file");
                        imgViewerElement.toggleClass("d-none", true);
                        break;
                    case "notimage":
                        imgMessageElement.toggleClass("d-none", false).text("Invalid file");
                        imgViewerElement.toggleClass("d-none", true);
                        break;
                    case null:
                        imgMessageElement.toggleClass("d-none", true);
                        imgViewerElement.toggleClass("d-none", false).attr("src", fileURL);
                        imgLinkElement.data("imgdata", fileURL);
                        break;
                }
            })
        })

        $(".imgLink").click(function (e){
            e.preventDefault();
            
            var win = window.open();
            win.document.write('<iframe src="' + $(this).data("imgdata") + '" frameborder="0" style="border:0; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%;" allowfullscreen></iframe>');
        })

        $("#formwali")
        .submit(function (){
            $(this).find('button[type=submit]')
                .prop('disabled', true)
                .html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`);
        })
        .validate({
            rules: {
                @Html.NameFor(i => i.namaLengkap) : {
                    required: true,
                    letterswithbasicpunc: true,
                },
                @Html.NameFor(i => i.namaPanggilan) : {
                    required: true,
                    letterswithbasicpunc: true,
                },
                @Html.NameFor(i => i.jenisKelamin) : {
                    required: true,
                    letterswithbasicpunc: true,
                },
                @Html.NameFor(i => i.BirthPlace) : {
                    required: true,
                    letterswithbasicpunc: true,
                },
                @Html.NameFor(i => i.BirtDate) : {
                    required: true,
                    dateITA: true,
                },
                @Html.NameFor(i => i.ClassID) : {
                    required: true,
                },
                @Html.NameFor(i => i.NIK) : {
                    required: true,
                    digits: true,
                },
                @Html.NameFor(i => i.anakKe) : {
                    required: true,
                    number: true,
                    min: 0,
                },
                @Html.NameFor(i => i.jmlSaudara) : {
                    required: true,
                    number: true,
                    min: 0,
                },
                @Html.NameFor(i => i.golDarah) : {
                    required: true,
                },
                @Html.NameFor(i => i.tipeKelahiran) : {
                    required: true,
                    letterswithbasicpunc: true,
                },
                @Html.NameFor(i => i.berapaLamaASI) : {
                    required: true,
                    number: true,
                    min: 0,
                },
                @Html.NameFor(i => i.berapaLamaSuFor) : {
                    required: true,
                    number: true,
                    min: 0,
                },
                @Html.NameFor(i => i.alergi) : {
                    letterswithbasicpunc: true,
                },
                @Html.NameFor(i => i.penyakit) : {
                    letterswithbasicpunc: true,
                },
                @Html.NameFor(i => i.akta): {
                    required: true,
                    filesize: 5,
                    accept: "image/jpg,image/jpeg,image/png,image/gif",
                },
                @Html.NameFor(i => i.foto): {
                    required: true,
                    filesize: 5,
                    accept: "image/jpg,image/jpeg,image/png,image/gif",
                },
            },
            highlight: function (element) {
                jQuery(element).closest('.form-control').removeClass('is-valid');
                jQuery(element).closest('.form-control').addClass('is-invalid');
            },
            unhighlight: function (element) {
                jQuery(element).closest('.form-control').removeClass('is-invalid');
                jQuery(element).closest('.form-control').addClass('is-valid');
            },
            errorElement: 'span',
            errorClass: 'label label-danger',
            errorPlacement: function (error, element) {
                $("[id$=serverside]").remove();
                error.addClass('invalid-feedback');
                error.insertAfter(element);
            },
            invalidHandler: function (event, validator){
                $(this).find('button[type=submit]')
                    .prop('disabled', false)
                    .html(`Submit`);
            }
        })
    })
</script>