﻿@model Panda_Mandiri.Models.Extended.modelWali
@{
    ViewBag.Title = "Set Parents Data";
    Layout = "~/Views/User/Shared/UserLayout.cshtml";
    ViewBag.currentMenu = "editparentdata";

    Panda_Mandiri.Models.tbl_wali parentData = ViewBag.parentData;
    Panda_Mandiri.Models.tbl_dokumen_wali parentDocumentData = ViewBag.parentDocumentData;

    ViewBag.breadcrumb = helper.generateBreadcrumb(
        new[] { "Home", Url.Action("Index", "User") },
        new[] { "Edit Parent Data" }
    );
}

<div class="container">
    @using (Html.BeginForm("editDataWali", "User", FormMethod.Post, new
    {
        @id = "formwali",
        style = "height: auto;max-width: 850px;margin-left:7px;",
        enctype = "multipart/form-data"
    }))
    {
        <div class="form-row">
            <H2>Father's Data Form</H2>
        </div>
        <div class="form-row">
            <div class="col-lg-8">
                <div class="form-group">
                    @Html.LabelFor(i => i.namaAyah) <span class="text-danger"><strong>*</strong></span>
                    @Html.TextBoxFor(i => i.namaAyah, new { @class = "form-control", @Value = parentData.nama_ayah })
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(i => i.panggilanAyah) <span class="text-danger"><strong>*</strong></span>
                    @Html.TextBoxFor(i => i.panggilanAyah, new { @class = "form-control", @Value = parentData.panggilan_ayah })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    @Html.LabelFor(i => i.NIKAyah) <span class="text-danger"><strong>*</strong></span>
                    @Html.TextBoxFor(i => i.NIKAyah, new { @class = "form-control", @Value = parentData.NIK_ayah })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-8">
                <div class="form-group">
                    @Html.LabelFor(i => i.tempatLahirAyah) <span class="text-danger"><strong>*</strong></span>
                    @Html.TextBoxFor(i => i.tempatLahirAyah, new { @class = "form-control", @Value = parentData.tempatlahir_ayah })
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(i => i.tanggalLahirAyah) <span class="text-danger"><strong>*</strong></span>
                    @Html.TextBoxFor(i => i.tanggalLahirAyah, new { @class = "form-control datepicker", @Value = parentData.tanggallahir_ayah?.formatDDMMYYYY() })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.pendidikanAyah) <span class="text-danger"><strong>*</strong></span>
                    @Html.TextBoxFor(i => i.pendidikanAyah, new { @class = "form-control", @Value = parentData.pendidikan_ayah })
                </div>
            </div>
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.pekerjaanAyah) <span class="text-danger"><strong>*</strong></span>
                    @Html.TextBoxFor(i => i.pekerjaanAyah, new { @class = "form-control", @Value = parentData.pekerjaan_ayah })
                </div>
            </div>
        </div>
        <div class="my-4" />
        <div class="form-row">
            <H2>Mother's Data Form</H2>
        </div>
        <div class="form-row">
            <div class="col-lg-8">
                <div class="form-group">
                    @Html.LabelFor(i => i.namaIbu) <span class="text-danger"><strong>*</strong></span>
                    @Html.TextBoxFor(i => i.namaIbu, new { @class = "form-control", @Value = parentData.nama_ibu })
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(i => i.panggilanIbu) <span class="text-danger"><strong>*</strong></span>
                    @Html.TextBoxFor(i => i.panggilanIbu, new { @class = "form-control", @Value = parentData.panggilan_ibu })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    @Html.LabelFor(i => i.NIKIbu) <span class="text-danger"><strong>*</strong></span>
                    @Html.TextBoxFor(i => i.NIKIbu, new { @class = "form-control", @Value = parentData.NIK_ibu })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-8">
                <div class="form-group">
                    @Html.LabelFor(i => i.tempatLahirIbu) <span class="text-danger"><strong>*</strong></span>
                    @Html.TextBoxFor(i => i.tempatLahirIbu, new { @class = "form-control", @Value = parentData.tempatlahir_ibu })
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(i => i.tanggalLahirIbu) <span class="text-danger"><strong>*</strong></span>
                    @Html.TextBoxFor(i => i.tanggalLahirIbu, new { @class = "form-control datepicker", @Value = parentData.tanggallahir_ibu?.formatDDMMYYYY() })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.pendidikanIbu) <span class="text-danger"><strong>*</strong></span>
                    @Html.TextBoxFor(i => i.pendidikanIbu, new { @class = "form-control", @Value = parentData.pendidikan_ibu })
                </div>
            </div>
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.pekerjaanIbu) <span class="text-danger"><strong>*</strong></span>
                    @Html.TextBoxFor(i => i.pekerjaanIbu, new { @class = "form-control", @Value = parentData.pekerjaan_ibu })
                </div>
            </div>
        </div>
        <div class="my-4" />
        <div class="form-row">
            <H2>Other Data</H2>
        </div>
        <div class="form-row">
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.noKTP) <span class="text-danger"><strong>*</strong></span>
                    @Html.TextBoxFor(i => i.noKTP, new { @class = "form-control", @Value = parentData.No_KTP })
                </div>
            </div>
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.noHP) <span class="text-danger"><strong>*</strong></span>
                    @Html.TextBoxFor(i => i.noHP, new { @class = "form-control", @Value = parentData.No_HP })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.alamat) <span class="text-danger"><strong>*</strong></span>
                    @Html.TextAreaFor(i => i.alamat, new { @class = "form-control", @Value = parentData.Alamat })
                </div>
            </div>
        </div>
        <div class="my-4" />
        <div class="form-row">
            <H2>Attachments</H2>
        </div>
        <div class="form-row">
            <div class="col">
                <span>Note for the attachments</span>
                <ul>
                    <li>Attachment can only in a form of image with a format of JPEG, PNG, or TIFF</li>
                    <li>Image size cannot exceed 5 MB</li>
                    <li>Please check if the text inside the image is readable</li>
                    <li>We will send you a warning if it doesn't fulfill the requirement above</li>
                </ul>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.ktp) <span class="text-danger"><strong>*</strong></span>
                    <div class="imgViewerParent border rounded-0 justify-content-center align-items-center mb-2 text-muted d-flex" style="height: 200px;min-width: 100px;max-width: 100%;">
                        <span class="imgMessage d-none">Image not available</span>
                        <a class="imgLink" href="@(helper.getImgLink(parentDocumentData.ktp, "ktp"))" target="_blank" style='height: 100%; width: 100%; object-fit: contain'>
                            <img class="imgViewer" src="@(helper.getImgLink(parentDocumentData.ktp, "ktp"))" style='height: 100%; width: 100%; object-fit: contain' />
                        </a>
                    </div>
                    <input type="file" class="form-control-file" accept="image/jpg,image/jpeg,image/png,image/gif" id="@Html.NameFor(i => i.ktp)" name="@Html.NameFor(i => i.ktp)">
                </div>
            </div>
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.kartuKeluarga) <span class="text-danger"><strong>*</strong></span>
                    <div class="imgViewerParent border rounded-0 justify-content-center align-items-center mb-2 text-muted d-flex" style="height: 200px;min-width: 100px;max-width: 100%;">
                        <span class="imgMessage d-none">Image not available</span>
                        <a class="imgLink" href="@(helper.getImgLink(parentDocumentData.kartukeluarga, "kartuKeluarga"))" target="_blank" style='height: 100%; width: 100%; object-fit: contain'>
                            <img class="imgViewer" src="@(helper.getImgLink(parentDocumentData.kartukeluarga, "kartuKeluarga"))" style='height: 100%; width: 100%; object-fit: contain' />
                        </a>
                    </div>
                    <input type="file" class="form-control-file" accept="image/jpg,image/jpeg,image/png,image/gif" id="@Html.NameFor(i => i.kartuKeluarga)" name="@Html.NameFor(i => i.kartuKeluarga)">
                </div>
            </div>
        </div>
        <div class="form-row text-right"> 
            <div class="col-lg">
                <button type="submit" class="btn btn-primary">Submit</button>
                @* <input class="submit btn btn-primary" type="submit" Value="Submit"> *@
            </div>
        </div>
    }
</div>

@* ================================ Script ================================== *@

<script>
    $(document).ready(function () {
        $(".datepicker").datepicker({
            format: "dd/mm/yyyy",
            clearBtn: true
        });

        $("textarea").each(function () { $(this).html($(this).attr("value")); $(this).removeAttr("value") })

        $.validator.addMethod('filesize', function (value, element, param) {
            return this.optional(element) || (element.files[0].size <= param * 1024 * 1024)
        }, 'File size must be less than {0} MB');

        function readImage (file, callback){
            // Check if the file is an image.
            if (file.type && file.type.indexOf('image') === -1) {
                return callback("notimage", null);
            }

            const reader = new FileReader();

            reader.addEventListener('load', function (event){
                callback(null, event.target.result);
            })

            reader.addEventListener('error', function (event){
                callback("readererror", null);
            })

            reader.readAsDataURL(file);
        }

        $("input[type=file]").change(function (event){
            $(this).parent().find(".imgViewerParent").addClass("d-flex").removeClass("d-none")
            var imgMessageElement = $(this).parent().find(".imgMessage");
            var imgViewerElement = $(this).parent().find(".imgViewer");
            var imgLinkElement = $(this).parent().find(".imgLink");

            var img = $(this).prop('files')[0];

            readImage(img, function (err, fileURL){
                switch (err)
                {
                    case "readererror":
                        imgMessageElement.toggleClass("d-none", false).text("Something happened when trying to read the file");
                        imgViewerElement.toggleClass("d-none", true);
                        break;
                    case "notimage":
                        imgMessageElement.toggleClass("d-none", false).text("Invalid file");
                        imgViewerElement.toggleClass("d-none", true);
                        break;
                    case null:
                        imgMessageElement.toggleClass("d-none", true);
                        imgViewerElement.toggleClass("d-none", false).attr("src", fileURL);
                        imgLinkElement.data("imgdata", fileURL);
                        break;
                }
            })
        })

        $(".imgLink").click(function (e){
            e.preventDefault();
            
            var win = window.open();
            win.document.write('<iframe src="' + $(this).data("imgdata") + '" frameborder="0" style="border:0; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%;" allowfullscreen></iframe>');
        })

        $("#formwali")
        .submit(function (){
            $(this).find('button[type=submit]')
                .prop('disabled', true)
                .html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`);
        })
        .validate({
            rules: {
                @Html.NameFor(i => i.namaAyah): {
                    required: true,
                        letterswithbasicpunc: true,
                },
                @Html.NameFor(i => i.panggilanAyah): {
                    required: true,
                        letterswithbasicpunc: true,
                },
                @Html.NameFor(i => i.NIKAyah): {
                    required: true,
                        digits: true,
                },
                @Html.NameFor(i => i.tempatLahirAyah): {
                    required: true,
                        letterswithbasicpunc: true,
                },
                @Html.NameFor(i => i.tanggalLahirAyah): {
                    required: true,
                        dateITA: true,
                },
                @Html.NameFor(i => i.pendidikanAyah): {
                    required: true,
                        letterswithbasicpunc: true,
                },
                @Html.NameFor(i => i.pekerjaanAyah): {
                    required: true,
                        letterswithbasicpunc: true,
                },
                @Html.NameFor(i => i.namaIbu): {
                    required: true,
                        letterswithbasicpunc: true,
                },
                @Html.NameFor(i => i.panggilanIbu): {
                    required: true,
                        letterswithbasicpunc: true,
                },
                @Html.NameFor(i => i.NIKIbu): {
                    required: true,
                        digits: true,
                },
                @Html.NameFor(i => i.tempatLahirIbu): {
                    required: true,
                        letterswithbasicpunc: true,
                },
                @Html.NameFor(i => i.tanggalLahirIbu): {
                    required: true,
                        dateITA: true,
                },
                @Html.NameFor(i => i.pendidikanIbu): {
                    required: true,
                        letterswithbasicpunc: true,
                },
                @Html.NameFor(i => i.pekerjaanIbu): {
                    required: true,
                        letterswithbasicpunc: true,
                },
                @Html.NameFor(i => i.noKTP): {
                    required: true,
                        digits: true,
                },
                @Html.NameFor(i => i.noHP): {
                    required: true,
                        digits: true,
                },
                @Html.NameFor(i => i.alamat): {
                    required: true,
                },
                @Html.NameFor(i => i.ktp): {
                        filesize: 5,
                            accept: "image/jpg,image/jpeg,image/png,image/gif",
                },
                @Html.NameFor(i => i.kartuKeluarga): {
                        filesize: 5,
                            accept: "image/jpg,image/jpeg,image/png,image/gif",
                },
            },
            highlight: function (element) {
                jQuery(element).closest('.form-control').removeClass('is-valid');
                jQuery(element).closest('.form-control').addClass('is-invalid');
            },
            unhighlight: function (element) {
                jQuery(element).closest('.form-control').removeClass('is-invalid');
                jQuery(element).closest('.form-control').addClass('is-valid');
            },
            errorElement: 'span',
            errorClass: 'label label-danger',
            errorPlacement: function (error, element) {
                $("[id$=serverside]").remove();
                error.addClass('invalid-feedback');
                error.insertAfter(element);
            },
            invalidHandler: function (event, validator){
                $(this).find('button[type=submit]')
                    .prop('disabled', false)
                    .html(`Submit`);
            }
        })
    })
</script>