﻿
@{ 
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/User/Shared/UserLayout.cshtml";
    ViewBag.currentMenu = "dashboard";

    ViewBag.showEmergencyInfo = true;

    ViewBag.titlePage = $"Welcome, {(Session["sesiAkun"] as Panda_Mandiri.Models.Extended.modelAkun).email}";
    ViewBag.breadcrumb = helper.generateBreadcrumb(
        new[] { "Home" }
    );
}

<div class="container">
    <div>
        <div class="card" style="margin-bottom: 10px;">
            <div class="card-body">
                <div class="row align-items-center position-relative">
                    <div class="col">
                        <h4>Student Registration</h4>
                        <p>Register your child to our school here</p>
                    </div>
                    <div class="col-auto text-muted position-static">
                        <a class="stretched-link text-muted" href="@Url.Action("daftarkanSiswa", "User")">
                            <i class="material-icons" style="font-size: 8vh;">keyboard_arrow_right</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="margin-bottom: 10px;">
            <div class="card-body">
                <div class="row align-items-center position-relative">
                    <div class="col">
                        <h4>Student List</h4>
                        <p>List of all of your registered child</p>
                    </div>
                    <div class="col-auto text-muted position-static">
                        <a class="stretched-link text-muted" href="@Url.Action("studentList", "User")">
                            <i class="material-icons" style="font-size: 8vh;">keyboard_arrow_right</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="margin-bottom: 10px;">
            <div class="card-body">
                <div class="row align-items-center position-relative">
                    <div class="col">
                        <h4>Student Payment</h4>
                        <p>Pay all your childs payment here</p>
                    </div>
                    <div class="col-auto text-muted position-static">
                        <a class="stretched-link text-muted" href="@Url.Action("studentListForPayment", "User")">
                            <i class="material-icons" style="font-size: 8vh;">keyboard_arrow_right</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="margin-bottom: 10px;">
            <div class="card-body">
                <div class="row align-items-center position-relative">
                    <div class="col">
                        <h4>Edit Parent Data</h4>
                        <p>Edit your information here</p>
                    </div>
                    <div class="col-auto text-muted position-static">
                        <a class="stretched-link text-muted" href="@Url.Action("editDataWali", "User")">
                            <i class="material-icons" style="font-size: 8vh;">keyboard_arrow_right</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="margin-bottom: 10px;">
            <div class="card-body">
                <div class="row align-items-center position-relative">
                    <div class="col">
                        <h4>Student Payment History</h4>
                        <p>See all your last payment status here</p>
                    </div>
                    <div class="col-auto text-muted position-static">
                        <a class="stretched-link text-muted" href="@Url.Action("studentListForPaymentList", "User")">
                            <i class="material-icons" style="font-size: 8vh;">keyboard_arrow_right</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="margin-bottom: 10px;">
            <div class="card-body">
                <div class="row align-items-center position-relative">
                    <div class="col">
                        <h4>Print Registration Form</h4>
                        <p>You can print your registered data here</p>
                    </div>
                    <div class="col-auto text-muted position-static">
                        <a class="stretched-link text-muted" href="@Url.Action("ListCetakForm", "User")">
                            <i class="material-icons" style="font-size: 8vh;">keyboard_arrow_right</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>