﻿@model Panda_Mandiri.Models.tbl_siswa
@{
    ViewBag.Title = "Print Registration Form";
    Layout = "~/Views/User/Shared/userLayout.cshtml";
    ViewBag.currentMenu = "printform";

    ViewBag.breadcrumb = helper.generateBreadcrumb(
        new[] { "Home", Url.Action("Index", "User") },
        new[] { "List Student" }
    );
}
<div class="container">
    <h3>Select student from list below :</h3>
    <div style="margin-bottom: 1rem;"></div>
    <div>
        @foreach (Panda_Mandiri.Models.tbl_siswa siswa in ViewBag.daftarSiswa)
        {
            <div class="card" style="margin-bottom: 10px;">
                <div class="card-body">
                    <div class="row align-items-center position-relative">
                        <div class="col">
                            <h4>@siswa.Nama_Lengkap</h4>
                            <h5 class="text-muted">NIK: @siswa.NIK</h5>
                        </div>
                        <div class="col-auto text-muted position-static">
                            <a class="stretched-link text-muted"
                               href="@Url.Action("CetakForm", "User", new { @id = siswa.id })">
                                <i class="material-icons" style="font-size: 8vh;">keyboard_arrow_right</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>