@model Panda_Mandiri.Models.tbl_news
@{
    ViewBag.Title = "News";
    Layout = "~/Views/User/Shared/UserLayout.cshtml";
    ViewBag.currentMenu = "news";

    ViewBag.breadcrumb = helper.generateBreadcrumb(
        new[] { "Home", Url.Action("Index", "User") },
        new[] { "News List", Url.Action("newslist", "User") },
        new[] { "News" }
    );
}

<div class="container">
    <form>
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label>Subject</label>
                    @Html.TextBoxFor(x => x.subject, new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
            <div class="col-5">
                <div class="form-group">
                    <label>Date Time</label>
                    @Html.TextBoxFor(x => x.timePublished, new { @class = "form-control", @readonly = "readonly", @Value = Model.timePublished.ToString("dd/MM/yyyy hh:mm:ss") })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label>Message</label>
                    <div id="content" class="border p-4">

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@*====================================== Script ======================================*@

<script>
    function htmlDecode(input) {
        var doc = new DOMParser().parseFromString(input, "text/html");
        return doc.documentElement.textContent;
    }

    $(document).ready(function () {
        let contentHTML = htmlDecode("@ViewBag.encodedContent");
        $("#content").html(contentHTML);
    })
</script>