﻿@model Panda_Mandiri.Models.Extended.modelPembayaran
@{
    ViewBag.Title = "Student Payment";
    Layout = "~/Views/User/Shared/UserLayout.cshtml";
    ViewBag.currentMenu = "payment";

    ViewBag.breadcrumb = helper.generateBreadcrumb(
        new[] { "Home", Url.Action("Index", "User") },
        new[] { "List Student", Url.Action("studentListForPayment", "User") },
        new[] { "Student Payment" }
    );
}

<div class="container">
    <span class="text-danger">* Required</span>
    @using (Html.BeginForm("pembayaranSiswa", "User", FormMethod.Post, new
    {
        @id = "formwali",
        style = "height: auto;max-width: 850px;margin-left:7px;",
        enctype = "multipart/form-data"
    }))
    {
        <div class="form-row">
            <H2>Payment Data</H2>
        </div>
        <div class="form-row">
            <div class="col-lg">
                <div class="form-group">
                    @{
                        var paymentTypeList = new SelectList(
                            new List<SelectListItem>
                            {
                                new SelectListItem {Text = "Tuition", Value = "Tuition"},
                                new SelectListItem {Text = "Initial Payment", Value = "Initial Payment"},
                                new SelectListItem {Text = "Registration Fee", Value = "Registration Fee"},
                                new SelectListItem {Text = "Etc.", Value = "Etc."},
                            }, "Value", "Text");
                    }

                    @Html.LabelFor(i => i.tipePembayaran)  <span class="text-danger"><strong>*</strong></span>
                    @Html.DropDownListFor(i => i.tipePembayaran, paymentTypeList, "Select Payment Type", new { @class = "form-control", @id = "paymentdropdown" })
                </div>
            </div> 
            <div class="col-lg-4 d-none" id="paymenttype">
                <div class="form-group">
                    @{
                        var periodeList = new SelectList(
                            new List<SelectListItem>
                            {
                                new SelectListItem {Text = "January", Value = "January"},
                                new SelectListItem {Text = "February", Value = "February"},
                                new SelectListItem {Text = "March", Value = "March"},
                                new SelectListItem {Text = "April", Value = "April"},
                                new SelectListItem {Text = "May", Value = "May"},
                                new SelectListItem {Text = "June", Value = "June"},
                                new SelectListItem {Text = "July", Value = "July"},
                                new SelectListItem {Text = "August", Value = "August"},
                                new SelectListItem {Text = "September", Value = "September"},
                                new SelectListItem {Text = "October", Value = "October"},
                                new SelectListItem {Text = "November", Value = "November"},
                                new SelectListItem {Text = "December", Value = "December"},
                            }, "Value", "Text");
                    }
                    @Html.LabelFor(i => i.periodeSPP)  <span class="text-danger"><strong>*</strong></span>
                    @Html.DropDownListFor(i => i.periodeSPP, periodeList, "Select periode", new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.deskripsi)
                    @Html.TextAreaFor(i => i.deskripsi, new { @class = "form-control", rows="3" })
                </div>
            </div> 
        </div>

        <div class="my-4"/>

        <div class="form-row">
            <H2>Attachment</H2>
        </div>

        <div class="form-row">
            <div class="col">
                <span>Note for the attachments</span>
                <ul>
                    <li>Attachment can only in a form of image with a format of JPEG, PNG, or TIFF</li>
                    <li>Image size cannot exceed 5 MB</li>
                    <li>Please check if the text inside the image is readable</li>
                    <li>We will reject the payment if it doesn't fulfill the requirement above</li>
                </ul>
            </div>
        </div>

        <div class="form-row">
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.buktiPembayaran) <span class="text-danger"><strong>*</strong></span>
                    <div class="imgViewerParent border rounded-0 justify-content-center align-items-center mb-2 text-muted d-none" style="height: 200px;min-width: 100px;max-width: 100%;">
                        <span class="imgMessage">Image not available</span>
                        <a class="imgLink" href="#" target="_blank" style='height: 100%; width: 100%; object-fit: contain'>
                            <img class="imgViewer d-none" style='height: 100%; width: 100%; object-fit: contain'/>
                        </a>
                    </div>
                    <input type="file" class="form-control-file" accept="image/jpg,image/jpeg,image/png,image/gif" id="@Html.NameFor(i => i.buktiPembayaran)" name="@Html.NameFor(i => i.buktiPembayaran)">
                </div>
            </div>
        </div>

        <div class="form-row text-right">
            <div class="col-lg">
                <button type="submit" class="btn btn-primary">Submit</button>
                @* <input class="submit btn btn-primary" type="submit" value="Submit"> *@
            </div>
        </div>
    }
</div>

@* ============================ Script =============================== *@

<script>
    $(document).ready(function (){
        $("#paymentdropdown").change(function (event){
            $("#paymenttype").toggleClass("d-none", $(this).val() != "Tuition")
        })
        
        $.validator.addMethod('filesize', function (value, element, param) {
            return this.optional(element) || (element.files[0].size <= param * 1024 * 1024)
        }, 'File size must be less than {0} MB');

        function readImage (file, callback){
            // Check if the file is an image.
            if (file.type && file.type.indexOf('image') === -1) {
                return callback("notimage", null);
            }

            const reader = new FileReader();

            reader.addEventListener('load', function (event){
                callback(null, event.target.result);
            })

            reader.addEventListener('error', function (event){
                callback("readererror", null);
            })

            reader.readAsDataURL(file);
        }

        $("input[type=file]").change(function (event){
            $(this).parent().find(".imgViewerParent").addClass("d-flex").removeClass("d-none")
            var imgMessageElement = $(this).parent().find(".imgMessage");
            var imgViewerElement = $(this).parent().find(".imgViewer");
            var imgLinkElement = $(this).parent().find(".imgLink");

            var img = $(this).prop('files')[0];

            readImage(img, function (err, fileURL){
                switch (err)
                {
                    case "readererror":
                        imgMessageElement.toggleClass("d-none", false).text("Something happened when trying to read the file");
                        imgViewerElement.toggleClass("d-none", true);
                        break;
                    case "notimage":
                        imgMessageElement.toggleClass("d-none", false).text("Invalid file");
                        imgViewerElement.toggleClass("d-none", true);
                        break;
                    case null:
                        imgMessageElement.toggleClass("d-none", true);
                        imgViewerElement.toggleClass("d-none", false).attr("src", fileURL);
                        imgLinkElement.data("imgdata", fileURL);
                        break;
                }
            })
        })

        $(".imgLink").click(function (e){
            e.preventDefault();
            
            var win = window.open();
            win.document.write('<iframe src="' + $(this).data("imgdata") + '" frameborder="0" style="border:0; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%;" allowfullscreen></iframe>');
        })

        $("#formwali")
        .submit(function (){
            $(this).find('button[type=submit]')
                .prop('disabled', true)
                .html(`<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>`);
        })
        .validate({
            rules: {
                @Html.NameFor(i => i.tipePembayaran): {
                    required: true,
                },
                @Html.NameFor(i => i.periodeSPP): {
                    required: function (element) {
                        return $("#paymentdropdown").val() == "Tuition"
                    },
                },
                @Html.NameFor(i => i.buktiPembayaran): {
                    required: true,
                    filesize: 5,
                    accept: "image/jpg,image/jpeg,image/png,image/gif",
                },
            },
            highlight: function(element) {
                jQuery(element).closest('.form-control').removeClass('is-valid');
                jQuery(element).closest('.form-control').addClass('is-invalid');
            },
            unhighlight: function(element) {
                jQuery(element).closest('.form-control').removeClass('is-invalid');
                jQuery(element).closest('.form-control').addClass('is-valid');
            },
            errorElement: 'span',
            errorClass: 'label label-danger',
            errorPlacement: function(error, element) {
                $("[id$=serverside]").remove();
                error.addClass('invalid-feedback');
                error.insertAfter(element);
            },
            invalidHandler: function (event, validator){
                $(this).find('button[type=submit]')
                    .prop('disabled', false)
                    .html(`Submit`);
            }
        })
    })
</script>