﻿@model Panda_Mandiri.Models.Extended.modelSiswa
@{
    ViewBag.Title = "Student Details";
    Layout = "~/Views/User/Shared/UserLayout.cshtml";
    ViewBag.currentMenu = "studentlist";

    ViewBag.breadcrumb = helper.generateBreadcrumb(
        new[] { "Home", Url.Action("Index", "User") },
        new[] { "Student List", Url.Action("studentList", "User") },
        new[] { "Student Details" }
    );

    var studentDetails = (Panda_Mandiri.Models.tbl_siswa)ViewBag.studentDetails;
    var studentDocumentDetails = (Panda_Mandiri.Models.tbl_dokumen_siswa)ViewBag.studentDocumentDetails;
}

<div class="container">
    <form style="height: auto;max-width: 850px;margin-left:7px;">
    <div class="form-row">
        <H2>Students's Data Form</H2>
    </div>
        <div class="form-row">
            <div class="col-lg-8">
                <div class="form-group">
                    @Html.LabelFor(i => i.namaLengkap)
                    @Html.TextBoxFor(i => i.namaLengkap, new { @class = "form-control", @readonly = "readonly", @Value =
                            studentDetails.Nama_Lengkap })
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(i => i.namaPanggilan)
                    @Html.TextBoxFor(i => i.namaPanggilan, new { @class = "form-control", @readonly = "readonly", @Value
                            = studentDetails.Nama_Panggilan })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg">
                <div class="form-group">
                    @*@{
                        var jenisKelaminList = new SelectList(
                        new List<SelectListItem>
                        {
                        new SelectListItem {Text = "Laki-Laki", Value = "Laki-Laki"},
                        new SelectListItem {Text = "Perempuan", Value = "Perempuan"},
                        }, "Value", "Text");
                        }*@

                    @Html.LabelFor(i => i.jenisKelamin)
                    @*@Html.DropDownListFor(i => i.jenisKelamin, jenisKelaminList, "Pilih jenis kelamin", new { @class =
                        "form-control", @readonly = "readonly", @Value = studentDetails.jenis_kelamin })*@
                    @Html.TextBoxFor(i => i.jenisKelamin, new { @class = "form-control", @readonly = "readonly", @Value
                            = studentDetails.jenis_kelamin })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-8">
                <div class="form-group">
                    @Html.LabelFor(i => i.BirthPlace)
                    @Html.TextBoxFor(i => i.BirthPlace, new { @class = "form-control", @readonly = "readonly", @Value =
                            studentDetails.BirthPlace })
                </div>
            </div>
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(i => i.BirtDate)
                    @Html.TextBoxFor(i => i.BirtDate, new { @class = "form-control datepicker", @readonly = "readonly",
                            @Value = studentDetails.BirtDate?.formatDDMMYYYY() })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.NIK)
                    @Html.TextBoxFor(i => i.NIK, new { @class = "form-control", @readonly = "readonly", @Value =
                            studentDetails.NIK })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-4">
                <div class="form-group">
                    @Html.LabelFor(i => i.anakKe)
                    @Html.TextBoxFor(i => i.anakKe, new { @class = "form-control", @type = "number", @readonly =
                            "readonly", @Value = studentDetails.Anak_Ke })
                </div>
            </div>
            <div class="col-lg-8">
                <div class="form-group">
                    @Html.LabelFor(i => i.jmlSaudara)
                    @Html.TextBoxFor(i => i.jmlSaudara, new { @class = "form-control", @type = "number", @readonly =
                            "readonly", @Value = studentDetails.Jml_Saudara_Kandung })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg-4">
                <div class="form-group">
                    @*@{
                        var golDarahList = new SelectList(
                        new List<SelectListItem>
                        {
                        new SelectListItem {Text = "A", Value = "A"},
                        new SelectListItem {Text = "B", Value = "B"},
                        new SelectListItem {Text = "AB", Value = "AB"},
                        new SelectListItem {Text = "O", Value = "O"},
                        }, "Value", "Text");
                        }*@

                    @Html.LabelFor(i => i.golDarah)
                    @*@Html.DropDownListFor(i => i.jenisKelamin, golDarahList, "Pilih golongan darah", new { @class =
                        "form-control", @readonly = "readonly", @Value = studentDetails.Golongan_Darah })*@
                    @Html.TextBoxFor(i => i.golDarah, new { @class = "form-control", @readonly = "readonly", @Value =
                            studentDetails.Golongan_Darah })
                </div>
            </div>
            <div class="col-lg-8">
                <div class="form-group">
                    @Html.LabelFor(i => i.tipeKelahiran)
                    @Html.TextBoxFor(i => i.tipeKelahiran, new { @class = "form-control", @readonly = "readonly", @Value
                            = studentDetails.Kelahiran })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.berapaLamaASI)
                    @Html.TextBoxFor(i => i.berapaLamaASI, new { @class = "form-control", @type = "number", @readonly =
                            "readonly", @Value = studentDetails.ASI_Berapa_Lama })
                </div>
            </div>
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.berapaLamaSuFor)
                    @Html.TextBoxFor(i => i.berapaLamaSuFor, new { @class = "form-control", @type = "number", @readonly
                            = "readonly", @Value = studentDetails.Sufor_Berapa_Lama })
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.alergi)
                    @Html.TextBoxFor(i => i.alergi, new { @class = "form-control", @readonly = "readonly", @Value =
                            studentDetails.Riwayat_Alergi })
                </div>
            </div>
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.penyakit)
                    @Html.TextBoxFor(i => i.penyakit, new { @class = "form-control", @readonly = "readonly", @Value =
                            studentDetails.Riwayat_Penyakit })
                </div>
            </div>
        </div>

        <div class="my-4" />

        <div class="form-row">
            <H2>Attachments</H2>
        </div>

        <div class="form-row">
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.akta)
                    <br />
                    @{
                        var aktaImgLink =
                            $"{Panda_Mandiri.Controllers.helper.getRoot()}/api/image/akta/{studentDocumentDetails.akta}";
                        <a href="@aktaImgLink" target="_blank" rel="noopener noreferrer">
                            <img src="@aktaImgLink" alt="@aktaImgLink" style="max-width: 450px; max-height: 300px">
                        </a>
                    }
                </div>
            </div>
            <div class="col-lg">
                <div class="form-group">
                    @Html.LabelFor(i => i.foto)
                    <br />
                    @{
                        var fotoImgLink =
                            $"{Panda_Mandiri.Controllers.helper.getRoot()}/api/image/foto/{studentDocumentDetails.foto}";
                        <a href="@fotoImgLink" target="_blank" rel="noopener noreferrer">
                            <img src="@fotoImgLink" alt="@fotoImgLink" style="max-width: 450px; max-height: 300px">
                        </a>
                    }
                    @* <input type="file" class="form-control-file" accept="image/jpg,image/jpeg,image/png,image/gif" id="@Html.NameFor(i => i.kartuKeluarga)"
                        name="@Html.NameFor(i => i.kartuKeluarga)" value="@parentDocumentDetails.kartukeluarga"> *@
                </div>
            </div>
        </div>
    </form>
</div>