﻿@model Panda_Mandiri.Models.tbl_pembayaran
@{
    ViewBag.Title = "Payment Details";
    Layout = "~/Views/User/Shared/UserLayout.cshtml";
    ViewBag.currentMenu = "paymenthistory";

    ViewBag.breadcrumb = helper.generateBreadcrumb(
        new[] { "Home", Url.Action("Index", "User") },
        new[] { "List Student", Url.Action("studentListForPaymentList", "User") },
        new[] { "List Payments", Url.Action("studentPaymentList", "User", new { @id = ViewBag.studentID }) },
        new[] { "Payment Details" }
    );

    var paymentDetails = (Panda_Mandiri.Models.tbl_pembayaran)ViewBag.paymentDetails;
}

<div class="container">
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td>Payment ID</td>
                    <td>@(paymentDetails.id)</td>
                </tr>
                <tr>
                    <td>Payment Date</td>
                    <td>@(paymentDetails.tanggalPembayaran?.formatDDMMYYYY())</td>
                </tr>
                <tr>
                    <td>Type</td>
                    <td>@(paymentDetails.tipePembayaran)</td>
                </tr>
                <tr>
                    <td>Periode</td>
                    <td>@(paymentDetails.periodeSPP)</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>@(paymentDetails.deskripsi)</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>@switch (paymentDetails.status)
                        {
                            case null:
                                <span> Not Reviewed Yet</span>
                                break;
                            case true:
                                <span>Success</span>
                                break;
                            case false:
                                <span>Failed</span>
                                break;
                            default:
                                break;
                        }
                    </td>
                </tr>
                @if (paymentDetails.status.HasValue)
                {
                    if (paymentDetails.status.Value == false)
                    {
                        <tr>
                            <td>Reject Reason</td>
                            <td>@(paymentDetails.alasanPenolakan)</td>
                        </tr>
                    }
                }
                <tr>
                    <td>Payment Proof</td>
                    <td>
                        @{
                            var imgLink =
                                $"{Panda_Mandiri.Controllers.helper.getRoot()}/api/image/buktipembayaran/{paymentDetails.buktiPembayaran}";
                            <a href="@imgLink" target="_blank" rel="noopener noreferrer">
                                <img src="@imgLink" alt="@imgLink" style="max-width: 450px; max-height: 300px">
                            </a>
                        }
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>