﻿@{
    ViewBag.Title = "Success";
    Layout = "~/Views/User/Shared/UserLayout.cshtml";
}

<div class="container">
    @if (TempData["successMessage"] != null) {
        <h3>@TempData["successMessage"]</h3>
    }
    <h4>Redirecting in <span id="countdownText"></span> Or <a href="@Url.Action("Index", "User")">click here</a></h4>
</div>

@* ================================== Script =============================== *@

<script>
    $(document).ready(function () {
    let countdown = 10;

    setInterval(function () {
    $("#countdownText").text(
    `${countdown} seconds...`
    );

    if (countdown <= 0) {
    window.location = "@(Panda_Mandiri.Controllers.helper.getRoot())/User/index";
    } else {
    countdown--;
    }
    }, 1000)
    });
</script>