@if (ViewBag.latestNews != null)
{
    <div class="border rounded border-info m-5" style="min-width: 200px;max-width: 350px;height: 350px;padding: 25px;">
        <h2 class="text-info">News</h2>
        @foreach (Panda_Mandiri.Models.tbl_news news in ViewBag.latestNews)
        {
            <a class="d-block" href="@Url.Action("newsDetails", "User", new { @id = news.Id })">@news.timePublished.ToString("dd/MM") - @news.subject</a>
        }
    </div>
}