﻿<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"><img src="~/content/img/TK_Islam_Dzakira_Logo.png" style="width: 150px;"></div>
    <div class="list-group list-group-flush">
        @if (ViewBag.hideMenu == null)
        {
            <a id="user-dashboard" class="list-group-item list-group-item-action bg-light" href="@Url.Action("Index", "User")">Dashboard</a>
            <a id="user-registerstudent" class="list-group-item list-group-item-action bg-light" href="@Url.Action("daftarkanSiswa", "User")">
                Student
                Registration
            </a>
            <a id="user-studentlist" class="list-group-item list-group-item-action bg-light" href="@Url.Action("studentList", "User")">Student List</a>
            <a id="user-payment" class="list-group-item list-group-item-action bg-light"
                href="@Url.Action("studentListForPayment", "User")">Payment</a>
            <a id="user-editparentdata" class="list-group-item list-group-item-action bg-light" href="@Url.Action("editDataWali", "User")">Edit Parent Data</a>
            <a id="user-paymenthistory" class="list-group-item list-group-item-action bg-light"
                href="@Url.Action("studentListForPaymentList", "User")">Payment History</a>
            <a id="user-news" class="list-group-item list-group-item-action bg-light"
                href="@Url.Action("newsList", "User")">News</a>
            <a id="user-printform" class="list-group-item list-group-item-action bg-light"
                href="@Url.Action("ListCetakForm","User")">Print Form</a>
        }
        <a class="list-group-item list-group-item-action bg-light" href="@Url.Action("signout", "User")">Sign out</a>

        <div class="mx-auto mt-2 text-muted text-center">
        @{ 
            var isDebug = HttpContext.Current.IsDebuggingEnabled;
            var assemblyInfo = "";
            string branch = "", sha = "";

            if (isDebug)
            {
                var modifiedAsmInfo = System.Diagnostics.FileVersionInfo.GetVersionInfo(typeof(Panda_Mandiri.MvcApplication).Assembly.Location).ProductVersion.Split('+');
                assemblyInfo = modifiedAsmInfo[0];
                var additionalInfo = modifiedAsmInfo[1].Split('.');
                branch = additionalInfo[1];
                sha = additionalInfo[3].Substring(0, 16);
            }
            else
            {
                assemblyInfo = typeof(Panda_Mandiri.MvcApplication).Assembly.GetName().Version.ToString();
            }

            <div>
                <small>
                    @(isDebug ? "Debug" : "Release") version - v@(assemblyInfo)
                </small>
            </div>

            if (isDebug)
            {
                <div>
                    <small class="block">
                        Branch: @branch
                    </small>
                </div>
                <div>
                    <small class="block">
                        SHA: @sha
                    </small>
                </div>
            }
        }
        </div>
    </div>
</div>

@*========================= Script =============================*@

<script>
    $(document).ready(function () {
        $("#user-@ViewBag.currentMenu").removeClass("bg-light").addClass("bg-primary text-light");
    })
</script>