﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>KindergartenSoftwareProject</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
</head>

<body>
    <div class="container-fluid d-lg-flex justify-content-lg-center align-items-lg-center" style="height: 100vh;">
        <div>
            <div class="row text-center d-xl-flex justify-content-xl-center">
                <div class="col">
                    <h1 style="font-size: 30vh;margin: 0px;">Yikes!</h1>
                </div>
            </div>
            <div class="row text-center d-xl-flex justify-content-xl-center">
                <div class="col">
                    <h4>Something happened and we're not sure how it happened</h4>
                </div>
            </div>
            @*<div class="row text-center d-xl-flex justify-content-xl-center">
                    <div class="col"><span>Go back to previous page?<br></span></div>
                </div>*@
        </div>
    </div>
</body>

</html>
