﻿<style>
    .panel-title {
        position: relative;
    }
    
    .panel-title::after {
        content: "\f107";
        right: 1rem;
        top: 0.4rem;
        position: absolute;
        font-family: "FontAwesome";
        font-size: 1.5rem;
        transition: transform 200ms cubic-bezier(1,0,0,1);
    }

    .panel-title[aria-expanded="true"]::after {
        transform: rotate(180deg);
        transition: transform 200ms cubic-bezier(1,0,0,1);
    }

    .darken-bg {
        filter: brightness(80%);
    }
</style>

<div class="sidebar-heading border-bottom"><span><strong>Admin Homepage</strong></span></div>
<div class="list-group list-group-flush">
    @* <div class="list-group-item list-group-item-action bg-light" style="padding-bottom: 0px; padding-top: 2rem;">
            <h6 class="text-muted">
                Main Function
            </h6>
        </div> *@
    <a id="admin-index" class="list-group-item list-group-item-action bg-light" href="@Url.Action("index", "Admin")">Overview</a>
    <a id="admin-parentlist" class="list-group-item list-group-item-action bg-light" href="@Url.Action("parentList", "Admin")">Parent List</a>
    <a id="admin-studentlist" class="list-group-item list-group-item-action bg-light" href="@Url.Action("studentList", "Admin")">
        Student
        List
    </a>
    <a id="admin-pendingpayments" class="list-group-item list-group-item-action bg-light" href="@Url.Action("pendingPayments", "Admin")">
        Pending
        Payments
    </a>
    <a id="admin-completedpayments" class="list-group-item list-group-item-action bg-light"
       href="@Url.Action("completedPayments", "Admin")">Completed Payments</a>
    <a id="admin-newnews" class="list-group-item list-group-item-action bg-light"
       href="@Url.Action("news", "Admin")">Create New News</a>
    <a id="admin-news" class="list-group-item list-group-item-action bg-light"
       href="@Url.Action("newsList", "Admin")">News</a>

    @* <div class="list-group-item list-group-item-action text-muted bg-light" style="padding-bottom: 0px; padding-top: 2rem;">
            <h6 class="d-inline">
                Reporting Service
            </h6>
            <i class="fa fa-warning d-inline d-md-none ml-1 text-danger" style="font-size: 1.5rem;" data-toggle="tooltip" data-placement="top" title="These feature do not work well on mobile view. Please switch to desktop view."></i>
        </div> *@

    <a class="list-group-item list-group-item-action bg-light panel-title" id="reportCollapseParent" data-toggle="collapse" href="#reportCollapse" role="button" aria-expanded="false" aria-controls="reportCollapse">
        SSRS Reports
        <i class="fa fa-warning d-inline d-md-none ml-1 text-danger" data-toggle="tooltip" data-placement="top" title="These feature do not work well on mobile view. Please switch to desktop view."></i>
    </a>
    <div id="reportCollapse" class="collapse">
        <a id="admin-studentreport" class="list-group-item list-group-item-action bg-light darken-bg border-top-0 border-right-0" style="padding-left: 2rem;" href="@Url.Action("ReportDataSiswa", "Admin")">
            Student
            Data Report
        </a>
        <a id="admin-parentreport" class="list-group-item list-group-item-action bg-light darken-bg border-top-0 border-right-0" style="padding-left: 2rem;" href="@Url.Action("ReportDataWali", "Admin")">
            Parents
            Data Report
        </a>
        <a id="admin-paymentreport" class="list-group-item list-group-item-action bg-light darken-bg border-top-0 border-right-0" style="padding-left: 2rem;" href="@Url.Action("ReportDataPembayaran", "Admin")">
            Payments
            Data Report
        </a>
        <a id="admin-logreport" class="list-group-item list-group-item-action bg-light darken-bg border-top-0 border-right-0" style="padding-left: 2rem;" href="@Url.Action("ReportErrorLog", "Admin")">
            Log
            Data Report
        </a>
    </div>

    @* <a id="admin-studentreport" class="list-group-item list-group-item-action bg-light" style="padding-left: 2rem;" href="@Url.Action("ReportDataSiswa", "Admin")">
            Student
            Data Report
        </a>
        <a id="admin-parentreport" class="list-group-item list-group-item-action bg-light" style="padding-left: 2rem;" href="@Url.Action("ReportDataWali", "Admin")">
            Parents
            Data Report
        </a>
        <a id="admin-paymentreport" class="list-group-item list-group-item-action bg-light" style="padding-left: 2rem;" href="@Url.Action("ReportDataPembayaran", "Admin")">
            Payments
            Data Report
        </a>
        <a id="admin-logreport" class="list-group-item list-group-item-action bg-light" style="padding-left: 2rem;" href="@Url.Action("ReportErrorLog", "Admin")">
            Log
            Data Report
        </a> *@

    @* <div class="list-group-item list-group-item-action bg-light"></div> *@

    <a id="admin-logview" class="list-group-item list-group-item-action bg-light"
       href="@Url.Action("log", "Admin")">Website Logs</a>

    <a class="list-group-item list-group-item-action bg-light" href="@Url.Action("signout", "Admin")">Logout</a>

    <div class="mx-auto mt-2 text-muted text-center">
        @{ 
            var isDebug = HttpContext.Current.IsDebuggingEnabled;
            var assemblyInfo = "";
            string branch = "", sha = "";

            if (isDebug)
            {
                var modifiedAsmInfo = System.Diagnostics.FileVersionInfo.GetVersionInfo(typeof(Panda_Mandiri.MvcApplication).Assembly.Location).ProductVersion.Split('+');
                assemblyInfo = modifiedAsmInfo[0];
                var additionalInfo = modifiedAsmInfo[1].Split('.');
                branch = additionalInfo[1];
                sha = additionalInfo[3].Substring(0, 16);
            }
            else
            {
                assemblyInfo = typeof(Panda_Mandiri.MvcApplication).Assembly.GetName().Version.ToString();
            }

            <div>
                <small>
                    @(isDebug ? "Debug" : "Release") version - v@(assemblyInfo)
                </small>
            </div>

            if (isDebug)
            {
                <div>
                    <small class="block">
                        Branch: @branch
                    </small>
                </div>
                <div>
                    <small class="block">
                        SHA: @sha
                    </small>
                </div>
            }
        }
    </div>
</div>

@*========================= Script =============================*@

<script>
    $(document).ready(function () {
        $("#admin-@ViewBag.currentMenu").removeClass("bg-light darken-bg").addClass("bg-primary text-light");

        if ($("#admin-@ViewBag.currentMenu").parent().is("#reportCollapse")) {
            $("#reportCollapse").addClass("show")
            $("#reportCollapseParent").attr("aria-expanded", "true")
        }
        
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>